/* Colors
FBFBFF - white
CE0E2D - red
0D0106 - black
7A5C61 - taupe
657ED4 - blue
 */


button{
    border-radius: 50px;
}

.lg-red-btn{
    border: 3px solid #CE0E2D;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #CE0E2D;
    font-size: 1.3rem;
    color: white;
}

.lg-red-outline-btn{
    border: 3px solid #CE0E2D;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: white;
    font-size: 1.3rem;
    color: #CE0E2D;
}

.lg-white-outline-btn{
    border: 3px solid white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #CE0E2D;
    font-size: 1.3rem;
    color: white;
}

.sm-red-btn{
    border: 3px solid #CE0E2D;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #CE0E2D;
    font-size: 1rem;
    color: white;
}

.sm-red-outline-btn{
    border: 3px solid #CE0E2D;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: white;
    font-size: 1rem;
    color: #CE0E2D;
}



.sm-white-outline-btn{
    border: 3px solid white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #CE0E2D;
    font-size: 1rem;
    color: white;
}

.text-black{
    color: #353740;
}

.text-white{
    color: white;
}

.text-red{
    color: #CE0E2D;
}

h1, h2, h3, h4, p{
    color:#353740;
}

h2{
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 3rem;
    text-align: center;
}

.jumbotron{
    margin-bottom: 0 !important;
    border-radius: 0px;
}
