<div data-aos="fade-up" class="mainWrapper">
  <div class="jumbotron header-banner">
    <div class="container">
      <h1 class="strokeme">DONATING SUPPLIES</h1>
    </div>
  </div>

  <div class="container text-center mt-4">
    <h2>Send in your items</h2>
    <p class="mb-5">
      As a rescue society funded entirely by donations and run by volunteers, we
      love to keep our costs down. 
    </p>
    <p class="mb-5">
      <strong>We gratefully accept donation of both new and
      used items</strong>. Some of our most commonly needed items are listed on this
      page.
    </p>
    <h3 class="mb-5 pb-5 text-left">

      <div class="container"></div>
        <div class="row">
          <div class="col-md-6">
            <ul>
              <li class="py-4">Martingale Collars</li>
              <li class="py-4">Leashes</li>
              <li class="py-4">Metal Bowls</li>
              <li class="py-4">Puppy Pads</li>
              <li class="py-4">Cat and Dog Toys</li>
              <li class="py-4">Blankets</li>
              
            </ul>
          </div>


          <div class="col-md-6">
            <ul>
              <li class="py-4">Towels</li>
              <li class="py-4">Dog Beds</li>
              <li class="py-4">Crates</li>
              <li class="py-4">X-pens</li>
              <li class="py-4">Cat Scratching Posts</li>
              <li class="py-4">Covered Litter Boxes</li>
            </ul>
          </div>
        </div>  
      
    </h3>
  </div>
</div>
