.strokeme
{
    text-shadow:
    -1px -1px 0 #ce0e2d,
    1px -1px 0 #ce0e2d,
    -1px 1px 0 #ce0e2d,
    1px 1px 0 #ce0e2d;  
}

ul {
    list-style: none; /* Remove default bullets */
  }

ul li::before {
    content: "\220E";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #ce0e2d; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

.mainWrapper {
  min-height: 100vh;
}