<div data-aos="fade-up">
  <div class="jumbotron header-banner">
    <div class="container">
      <h1 class="strokeme">DONATING SUPPLIES</h1>
    </div>
  </div>

  <div class="container text-center mt-4">
    <h2>Send in your Items!</h2>
    <p>
      As a rescue society funded entirely by donations and run by volunteers, we
      love to keep our costs down. We gratefully accept donation of both new and
      used items. Some of our most commonly needed items are listed on this
      page.
    </p>
    <h3 class="mb-5 pb-5 text-left">

      <div class="container"></div>
        <div class="row">
          <div class="col-md-6">
            <ul>
              <li>Martingale Collars</li>
              <li>Leashes</li>
              <li>Metal Bowls</li>
              <li>Puppy Pads</li>
              <li>Cat and Dog Toys</li>
              <li>Blankets</li>
              
            </ul>
          </div>


          <div class="col-md-6">
            <ul>
              <li>Towels</li>
              <li>Dog Beds</li>
              <li>Crates</li>
              <li>X-pens</li>
              <li>Cat Scratching Posts</li>
              <li>Covered Litter Boxes</li>
            </ul>
          </div>
        </div>  
      
    </h3>
  </div>
</div>
