<div data-aos="fade-up">
    <div class="jumbotron header-banner">
        <div class="container">
        <h1>Donating Supplies</h1>
        </div>
    </div>

    <div class="container text-center">
        <h2>Send in your Items!</h2>
        <p>As a rescue society funded entirely by donations and run by volunteers, we love to keep our costs down. We gratefully accept donation of both new and used items. Some of our most commonly needed items are listed on this page.</p>
        <h3 class="text-red">**We need an updated writeup from cars for this page**</h3>
    </div>
</div>
