table {
  width: 100%;
}
/* .th {
   text-align: center;
} */
header {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

h1 {
  color: #ce0e2d;
}

h5 {
  color: #fbfbff;
}

.personalInfo {
  background-color: rgb(245, 234, 234);
}

.modal-body {
  padding: 0px 1rem;
}

.accept-button {
  position: absolute;
  left: 1%;
}

.sectionTitle,
.centerElements {
  text-align: left;
  color: #ce0e2d;
}

.contactSection {
  padding: 0px 16px;
}

.modal-header {
  background-color: #ce0e2d;
}

.table-danger,
.table-danger > td,
.table-danger > th {
  background-color: #ce0e2d;
  color: #fbfbff;
}

.modal {
  overflow-y: auto;
}

.card {
  box-shadow: 0px 0px 10px -7px black;
}
