<div data-aos="fade-up" class="mainWrapper">
  <div class="jumbotron header-banner">
    <div class="container">
      <h1 class="strokeme">HAPPY TAILS</h1>
    </div>
  </div>


  <div class="container mt-4">
    <div class="text-center">
      <p>
        On this page we featured the pictures and a brief story of some of our recently adopted animals. While we do our best to post as many of our Happy Tails onto the website, it is not always possible to include all the stories. If you recently adopted a pet from us and would like your story featured please email 
        <a class="text-red" href="mailto:happytails@calgaryanimalrescue.com">
          happytails@calgaryanimalrescue.com
        </a>
        <p><strong class="text-red">We will do our best to tell your story.</strong></p>
    </div>

    <hr>

    <div class="container">
   
      <h3 class="text-red">Lacy</h3>
      <p>Lacy is now living the good life as a “clinic cat” with one of our veterinarian partners. They met her when she went in to be spayed and loved her so much that they asked if she could stay! Now she is getting to be the ‘ruler of the office’ and loves every minute of it.</p>
      <hr>

      <h3 class="text-red">Ares</h3>
      <p>This boy was adopted by a lovely family and new doggy sibling in Saskatchewan. He is thriving and very loved with his new fur-ever family.</p>
      <hr>

      <h3 class="text-red">Bandito</h3>
      <p>This handsome lad was adopted by a wonderful family after they met him at an adoption event being held in a Petsmart. They fell in love at first sight and adopted him within a few days. He is now a beloved member of their family.</p>
      <hr>

      <h3 class="text-red">Buck</h3>
      <p>This sweet boy was adopted by a young lady. At the age of 7 months, Buck became a certified therapy dog… which let me tell you.. it’s not often that a “puppy” under a year and a half is eligible to do so. He now goes to the hospital and senior homes to put a smile on others face.</p>
      <hr>
      
    </div>


  </div>
</div>

