<div data-aos="fade-up" class="mainWrapper">
  <div class="jumbotron header-banner">
    <div class="container">
      <h1 class="strokeme">VOLUNTEER</h1>
    </div>
  </div>

  <div class="container">
    <h2 class="mt-4">Interested in Volunteering with us?</h2>
    <div class="mb-5">
      <p>
        <a
          >Volunteers are the back bone of our organization. Without our
          volunteers we would not be able to help as many animals as we do each
          year. Our volunteers help to facilitate our adoption events, our charity
          casinos and all of our special events. They help us to transport our
          animals to grooming sessions and to adoption events. Some of our
          volunteers provide opportunities for our dogs to be socialized and
          exercised. They can also help at foster homes if need.
        </a>
        <br />
        Volunteering is a rewarding experience for any individual. It allows you
        to give back to your community and spend time with people who share your
        interests and values. Volunteering with Calgary Animal Rescue Society also
        allows you to help our animals transition from unwanted and abandoned
        animals to loving family pets. You can volunteer as an individual or as a
        group, we welcome any and all help with our rescue.
      </p>
    </div>
    <h3 class="text-red">What experience do I need?</h3>
    <p>
      <a class="font-weight-bold">We welcome volunteers of all experiences!</a>
      The Volunteer Coordinator will be here to help with any questions or
      concerns you may have so please don’t hesitate to ask
    </p>
    <br />
    <h3 class="text-red">How much time do I need to commit?</h3>
    <p>
      Although we don’t expect anyone to commit a certain amount of hours per
      week, we would like to see you at a volunteer event at least once every
      3-4 months. We’re a very friendly organization at Calgary Animal Rescue
      Society, we like to get to know our volunteers! You get what you put in
      and it is your learning experience, after-all.
    </p>
    <br />
    <h3 class="text-red">
      Can I use my volunteer time as credit for school or work community service
      requirements?
    </h3>
    <p>
      Absolutely! Please let us know in the comment section or through an email
      if this is the case. Reference letters are available upon request, but
      require minimum 2 week’s notice.
    </p>
    <br />
    <h3 class="text-red">How old do you have to be to volunteer?</h3>
    <p>
      <a class="font-weight-bold">We value volunteers of all ages</a>. However,
      for the safety of our animals as well as our volunteers, our volunteer
      positions have age restrictions. Youths aged 15-17 may volunteer without a
      parent, but under the supervision of another adult.
    </p>

    <div class="text-center mt-5">
      <button
        class="btn lg-red-btn shadow mb-4"
        [routerLink]="'/volunteer-application/'"
        (click)="onScroll()"
      >
        Volunteer Application Form
      </button>

      <hr>

      <blockquote class="blockquote text-right">
        <p>
          Volunteering will not change the world, but it can save an animals
          life. The people who volunteer with animal rescues are our heroes. A
          volunteers heart comes from the love that is seen with an animals
          eyes, making them rare and priceless … volunteer, feel that love.
        </p>
        <footer class="blockquote-footer">Calgary Animal Rescue Society</footer>
      </blockquote>
    </div>
  </div>
</div>
