<div class="container mb-5" style="min-height: 1080px;">
  <h1 data-aos="fade-right">Rejected Volunteer Applications</h1>
  <!-- Pending and Archived tabs -->
  <div class="mb-5 mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/applications"
          routerLinkActive="active"
          >Pending Applications
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active">Rejected Applications</a>
      </li>
    </ul>
  </div>

  <!-- Application List body -->
  <div class="container tableContainer">
    <!-- displays when the page is waiting for a reply from the server -->
    <ng-container *ngIf="this.isLoading">
      <div class="row justify-content-center" style="height: 1080px;">
        <div class="spinner-border text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-container>
    <!-- displays when the page has received content and is ready to load -->
    <ng-container *ngIf="!this.isLoading && this.appList.length === 0">
      <div class="row justify-content-center noItems" style="height: 1080px;">
        <h3>No new applications to display!</h3>
      </div>
    </ng-container>
    <!-- displays when loading is finished but no items exist to display -->

    <ng-container *ngIf="!this.isLoading && this.appList.length > 0">
      <table
        mat-table
        [dataSource]="appList"
        class="mat-elevation-z8 mt-5"
        matSort
        width="100%"
        data-aos="fade-in-out"
      >
        <ng-container matColumnDef="submissionDate">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Submission date
          </th>
          <td mat-cell *matCellDef="let fetched">
            {{ fetched?.submissionDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="applicant">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Applicant
          </th>
          <td mat-cell *matCellDef="let fetched">
            {{ fetched?.fname + " " + fetched?.lname }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Email
          </th>
          <td mat-cell *matCellDef="let fetched">{{ fetched?.email }}</td>
        </ng-container>

        <ng-container matColumnDef="rejectionNote">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Reason for Rejection
          </th>
          <td mat-cell *matCellDef="let fetched">
            {{ fetched?.rejectionReason }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="tableRow"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="getRecord(row.id)"
          data-toggle="modal"
          data-target="#viewApplication"
        ></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[20, 10, 30, 40, 50]"
        showFirstLastButtons
      ></mat-paginator>
    </ng-container>
  </div>

  <!-- Application Modal -->
  <div
    class="modal fade"
    tabindex="-1"
    id="viewApplication"
    role="dialog"
    aria-labelledby="viewApplicationLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2
            class="modal-title"
            id="viewApplicationModalLabel"
            style="color: #fbfbff;"
          >
            Application Information
          </h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- displays loading circle in body while things get ready -->
          <ng-container *ngIf="this.isLoading">
            <div class="row justify-content-center">
              <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </ng-container>
          <!-- displays fetched edit information if it is defined  -->

          <div class="container">
            <h1 class="centerElements mt-3">
              {{ application?.fname }}<span> {{ application?.lname }}</span>
            </h1>
            <hr style="width: 1px black;" />

            <div class="row container">
              <div class="col-6">
                <h3 class="leftElements">Contact Information</h3>
                <div style="text-align: left;">
                  <p>
                    <strong>Cell phone:</strong> {{ application?.cellPhone }}
                  </p>
                  <p>
                    <strong>Home phone:</strong> {{ application?.homePhone }}
                  </p>
                  <p><strong>Email:</strong> {{ application?.email }}</p>
                  <p>
                    <strong>T-shirt size:</strong> {{ application?.tshirtSize }}
                  </p>
                  <p>
                    <strong>Submission Date: </strong>
                    {{ application?.submissiondate }}
                  </p>
                </div>

                <h4 class="leftElements">Description:</h4>
                <section class="description mt-4">
                  <p>{{ application?.description }}</p>
                </section>
              </div>

              <div class="col-6">
                <div class="leftElements">
                  <h3>Details</h3>
                </div>
                <p><strong>First name:</strong> {{ application?.fname }}</p>
                <p><strong>Last name:</strong> {{ application?.lname }}</p>
                <!-- string interpolation {{DOB}} removed by MAX because DOB doesn't exist. Fix please! -->
                <p>
                  <strong>Over 18:</strong> {{ application?.over18 | yesNo }}
                </p>
                <p><strong>Gender:</strong> {{ application?.gender }}</p>
                <p><strong>Address:</strong> {{ application?.address }}</p>

                <p>
                  <strong>Postal Code:</strong> {{ application?.postalCode }}
                </p>
              </div>
            </div>

            <!-- emergency contacts section -->
            <div class="row">
              <!-- Emercency contact 1  -->
              <div class="col-6" style="text-align: left;">
                <hr style="width: 1px black;" />
                <h5 class="leftElements">Emergency Contact 1</h5>
                <hr style="width: 1px black;" />
                <p>
                  <strong>First name:</strong> {{ application?.emg1_fname }}
                </p>
                <p><strong>Last name:</strong> {{ application?.emg1_lname }}</p>
                <p>
                  <strong>Relationship:</strong>
                  {{ application?.emg1_relationship }}
                </p>
                <p>
                  <strong>Home Phone:</strong> {{ application?.emg1_homePhone }}
                </p>
                <p>
                  <strong>Cell Phone:</strong> {{ application?.emg1_cellPhone }}
                </p>
                <p><strong>Email:</strong> {{ application?.emg1_email }}</p>
              </div>

              <div class="col-6" style="text-align: left;">
                <!-- Emercency contact 2  -->
                <hr style="width: 1px black;" />
                <h5 class="leftElements">Emergency Contact 2</h5>
                <hr style="width: 1px black;" />
                <p>
                  <strong>First name:</strong> {{ application?.emg2_fname }}
                </p>
                <p><strong>Last name:</strong> {{ application?.emg2_lname }}</p>
                <p>
                  <strong>Relationship:</strong>
                  {{ application?.emg2_relationship }}
                </p>
                <p>
                  <strong>Home Phone:</strong> {{ application?.emg2_homePhone }}
                </p>
                <p>
                  <strong>Cell Phone:</strong> {{ application?.emg2_cellPhone }}
                </p>
                <p><strong>Email:</strong> {{ application?.emg2_email }}</p>
              </div>
            </div>

            <!-- Ref contact 1  -->
            <div class="row contactSection">
              <div class="col-6" style="text-align: left;">
                <hr style="width: 1px black;" />
                <h5 class="leftElements">Reference Contact 1</h5>
                <hr style="width: 1px black;" />
                <p>
                  <strong>First name:</strong> {{ application?.ref1_fname }}
                </p>
                <p><strong>Last name:</strong> {{ application?.ref1_lname }}</p>
                <p>
                  <strong>Cell Phone:</strong> {{ application?.ref1_cellPhone }}
                </p>
                <p><strong>Email:</strong> {{ application?.ref1_email }}</p>
              </div>

              <!-- Ref contact 2  -->
              <div class="col-6" style="text-align: left;">
                <hr style="width: 1px black;" />
                <h5 class="leftElements">Reference Contact 2</h5>
                <hr style="width: 1px black;" />
                <p>
                  <strong>First name:</strong> {{ application?.ref2_fname }}
                </p>
                <p><strong>Last name:</strong> {{ application?.ref2_lname }}</p>
                <p>
                  <strong>Cell Phone:</strong> {{ application?.ref2_cellPhone }}
                </p>
                <p><strong>Email:</strong> {{ application?.ref2_email }}</p>
              </div>
            </div>

            <hr />

            <div class="container mb-3">
              <!-- Admin Notes -->
              <!-- (Still awaiting backend and service attribute) -->
              <h4 class="leftElements">Reason for Rejection:</h4>
              <i>
                This note will only be visible to admins and won't be visible to
                volunteers
              </i>
              <section class="description mt-4">
                <p>{{ application?.rejectionReason }}</p>
              </section>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-outline-success ml-1 mr-1"
            data-dismiss="modal"
            data-toggle="modal"
            attr.data-target="#pending{{ application?.id }}"
          >
            Mark as Pending
          </button>

          <button
            class="btn btn-outline-danger ml-1 mr-1"
            data-dismiss="modal"
            data-toggle="modal"
            attr.data-target="#delete{{ application?.id }}"
          >
            Delete Application
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End of  Modal-->

  <!-- Mark as Pending Modal -->
  <div
    class="modal fade"
    id="pending{{ application?.id }}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Mark Application to pending
            {{ application?.lname }}?
          </h5>
          <button class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>
            You are about to send {{ application?.fname }}
            {{ application?.lname }}'s application back to the pending list.
          </p>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-success"
            data-dismiss="modal"
            (click)="sendToPending(application?.id)"
          >
            Confirm
          </button>
          <button class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Of Modal -->

  <!-- Delete Modal -->
  <div class="modal" id="delete{{ application?.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Delete {{ application?.fname }} {{ application?.lname }}?
          </h5>
          <button class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>
            You are about to PERMANENTLY delete {{ application?.fname }}
            {{ application?.lname }}'s volunteer application?.
          </p>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="deleteApplication(application?.id)"
          >
            Delete Application
          </button>
          <button class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Of Modal -->
</div>
