<h1>Personal Information</h1>
<p>First name: {{this.fname}}</p>
<p>Last name: {{this.lname}}</p>
<p>Street Address: {{this.Address}}</p>
<p>City: {{this.city}}</p>
<p>Province: {{this.province}}</p>
<p>Postal Code: {{this.postalCode}}</p>
<p>Home Phone: {{this.homePhone}}</p>
<p>Cell Phone: {{this.cellPhone}}</p>
<p>Email Address: {{this.email}}</p>
<p>Over the age of 18?: {{this.over18}}</p>

<h1>Home Information</h1>
<p>Type of Residence: {{this.typeOfResidence}}</p>
<p>Do you own or rent your home?: {{this.own}}</p>
<p>(rent)Landlord Contact Info: {{this.landlordContact}}</p>
<p>Fenced Yard?: {{this.fencedYard}}</p>
<p>(fenced yard) Fence height: {{this.fenceHeight}}</p>
<p>Do you drive a vehicle or have access to a vehicle to transport 
    your foster to adoption events and appointments?: {{this.haveVehicle}}</p>
<p>Would you be willing to consent to a home visit prior to your foster?: {{this.allowHomeVisit}}</p>


<h1>Family Information</h1>
<p>----Listing each individual in house hold, leaving this blank since i dont know how this is handled yet</p>
<p>Does anyone in your household have allergies to animals?: {{this.allergies}}</p>
<p>Does everyone in the household know safe handling procedures for new and 
    potentially reactive animals, including children?: {{this.householdHandling}}
</p>
<p>Are all members of your family agreeable to fostering a pet?: {{this.familyAgreeable</p>


<h1>Pet Information</h1>
<p>Do you have any pets?: {{this.anyPets}}</p>
<p>(has pets)Please list all pets details and whether they are good with new animals.: {{this.petDetails}}</p>
<p>Are they spayed/neutered and up to date on all vaccines?: {{this.</p>
<p>If you have dogs, are they: {{this.dogHabit}}</p>
<p>If you have cats, are they: {{this.catHabit}}</p>


<h1>Foster Information</h1>

<p>What types of fosters are you interested in? {{this.fosterAnimalType}}</p>
<p>Describe the type of animal you would like to foster and we will try to match your request- ie age, sex, energy level, coat type, breed, etc
    {{this.preferredAnimal}}
</p>
<p>If you foster cats, would you be willing to keep them strictly indoors?
    {{this.keepCatsIndoor}}
</p>
<p>We cannot guarantee the temperament of a foster. Are you willing to house train with love and patience?
    {{this.willingtotrain}}
</p>
<p>Are you familiar with Crate Training methods?
    {{this.familiarWithCrate}}
</p>
<p>Are you willing to use a crate for a foster dog if advised to?
    {{this.useDogCrate}}
</p>
<p>Have you had any experience with a rescue animal in the past? Please give the details.
    {{this.pastRescueExperience}}
</p>
<p>How many hours in the day will your foster be left alone?
    {{this.hoursLeftAlone}}
</p>
<p>Are you willing to take your foster animal to the vet?
    {{this.takeAnimalToVet}}
</p>
<p>Are you willing and able to medicate your foster if required?
    {{this.medicateAnimal}}
</p>


<h1>References</h1>

<h2>Reference 1</h2>

<p>First name: {{this.ref1_fname}}</p>
<p>Last name: {{this.ref1_lname}}</p>
<p>Cell Phone: {{this.ref1_cellPhone}}</p>
<p>Email address: {{this.ref1_email}}</p>

<h2>Reference 2</h2>

<p>First name: {{this.ref2_fname}}</p>
<p>Last name: {{this.ref2_lname}}</p>
<p>Cell Phone: {{this.ref2_cellPhone}}</p>
<p>Email address: {{this.ref2_email}}</p>

<h2>Reference 3</h2>

<p>First name: {{this.ref3_fname}}</p>
<p>Last name: {{this.ref3_lname}}</p>
<p>Cell Phone: {{this.ref3_cellPhone}}</p>
<p>Email address: {{this.ref3_email}}</p>

