<div class="container mb-5" style="min-height: 1080px;">
  <h1 data-aos="fade-right">Rejected Foster Applications</h1>
  <!-- Pending and Archived tabs -->
  <div class="mb-5 mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/fosterapplications"
          routerLinkActive="active"
          >Pending Applications</a
        >
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Archived</a> -->
        <a class="nav-link active">
          Rejected Applications
        </a>
      </li>
    </ul>
  </div>

  <!-- Application List body -->
  <div class="container tableContainer">
    <!-- displays when the page is waiting for a reply from the server -->
    <ng-container *ngIf="this.isLoading">
      <div class="row justify-content-center" style="height: 1080px;">
        <div class="spinner-border text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-container>
    <!-- displays when the page has received content and is ready to load -->
    <ng-container *ngIf="!this.isLoading && this.appList.length === 0">
      <div class="row justify-content-center noItems" style="height: 1080px;">
        <h3>No new applications to display!</h3>
      </div>
    </ng-container>
    <!-- displays when loading is finished but no items exist to display -->

    <ng-container *ngIf="!this.isLoading && this.appList.length > 0">
      <table
        mat-table
        [dataSource]="appList"
        class="mat-elevation-z8 mt-5"
        matSort
        width="100%"
        data-aos="fade-in-out"
      >
        <ng-container matColumnDef="submissionDate">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Submission date
          </th>
          <td mat-cell *matCellDef="let fetched">
            {{ fetched.submissionDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="applicant">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Applicant
          </th>
          <td mat-cell *matCellDef="let fetched">
            {{ fetched.fname + " " + fetched.lname }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Email
          </th>
          <td mat-cell *matCellDef="let fetched">{{ fetched.email }}</td>
        </ng-container>

        <ng-container matColumnDef="rejectionNote">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Reason for Rejection
          </th>
          <td mat-cell *matCellDef="let fetched">
            {{ fetched.rejectionReason }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="tableRow"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="getRecord(row.id)"
          data-toggle="modal"
          data-target="#viewApplication"
        ></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[20, 10, 30, 40, 50]"
        showFirstLastButtons
      ></mat-paginator>
    </ng-container>
  </div>

  <!-- APPLICATION MODAL -->

  <div
    class="modal fade"
    id="viewApplication"
    role="dialog"
    aria-labelledby="viewApplicationLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <ng-container *ngIf="this.isLoading">
          <div class="row justify-content-center">
            <div class="spinner-border text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!this.isLoading && this.application">
          <div class="modal-header">
            <h2
              class="modal-title"
              id="viewFosterModalLabel"
              style="color: #fbfbff;"
            >
              Foster Information
            </h2>
            <button type="button" class="close">
              <span aria-hidden="true" data-dismiss="modal">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- this is the personal information of foster  -->
            <div class="col-12">
              <!-- Big Name -->
              <h1 class="text-center mt-1">
                {{ application?.fname }}<span> {{ application?.lname }}</span>
              </h1>
              <hr style="width: 1px black;" />
              <div class="row">
                <div class="col-sm-6">
                  <div class="centerElements">
                    <h3 class="mb-4">Details</h3>
                  </div>
                  <p><strong>Foster ID: </strong> {{ application?.id }}</p>
                  <p><strong>First name: </strong> {{ application?.fname }}</p>
                  <p><strong>Last name: </strong> {{ application?.lname }}</p>
                  <p>
                    <strong>Submission Date: </strong>
                    {{ application?.submissiondate }}
                  </p>
                </div>

                <div class="col-sm-6">
                  <!-- Contact Information -->
                  <h3 class="sectionTitle mb-4">Contact Information</h3>
                  <div style="text-align: left;">
                    <p>
                      <strong>Cell phone:</strong>
                      {{ application?.cellPhone }}
                    </p>
                    <p>
                      <strong>Home phone:</strong>
                      {{ application?.homePhone }}
                    </p>
                    <p><strong>Email:</strong> {{ application?.email }}</p>
                    <p>
                      <strong>Address: </strong> {{ application?.address }},
                      {{ application?.city }}, {{ application?.province }}
                    </p>
                    <p>
                      <strong>Postal Code: </strong>
                      {{ application?.postalCode }}
                    </p>
                  </div>
                </div>
              </div>
              <!-- Foster background -->
              <hr style="width: 1px black;" />
              <h5 class="sectionTitle">Foster Background</h5>
              <hr style="width: 1px black;" />
              <div class="row" style="text-align: left;">
                <div class="col-sm-6">
                  <p>
                    <strong>Residence: </strong>
                    {{ application?.typeOfResidence }}
                  </p>
                  <p>
                    <strong>Pet Details: </strong>
                    {{ application?.petDetails }}
                  </p>
                  <p>
                    <strong>Spayed and Neutered: </strong>
                    {{ application?.spayedAndNeutured }}
                  </p>
                  <p>
                    <strong>Dog Habit: </strong> {{ application?.dogHabit }}
                  </p>
                  <p>
                    <strong>Cat Habit: </strong> {{ application?.catHabit }}
                  </p>
                  <p>
                    <strong>Family Agreeable: </strong>
                    {{ application?.familyAgreeable | yesNo }}
                  </p>
                  <p>
                    <strong>Foster Animal Type: </strong>
                    <i>
                      <ng-container *ngIf="this.ftPuppy">
                        <br />- Puppy
                      </ng-container>

                      <ng-container *ngIf="this.ftAdultDog">
                        <br />- Adult Dog
                      </ng-container>

                      <ng-container *ngIf="this.ftKitten">
                        <br />- Kitten
                      </ng-container>

                      <ng-container *ngIf="this.ftAdultCat">
                        <br />- Adult Cat
                      </ng-container>

                      <ng-container *ngIf="this.ftMedicalCare">
                        <br />- Medical Care
                      </ng-container>

                      <ng-container *ngIf="this.ftQuarantine">
                        <br />- Quarantine
                      </ng-container>
                    </i>
                  </p>
                  <p>
                    <strong>Preferred Animal: </strong>
                    {{ application?.preferredAnimal }}
                  </p>
                  <p>
                    <strong>Keep Cats Indoor: </strong>
                    {{ application?.keepCatsIndoor | yesNo }}
                  </p>
                </div>

                <div class="col-sm-6">
                  <p>
                    <strong>Fenced Yard: </strong>
                    {{ application?.fencedYard | yesNo }}
                  </p>
                  <p>
                    <strong>Fence Height: </strong>
                    {{ application?.fenceHeight }}
                  </p>
                  <p>
                    <strong>Willing to train: </strong>
                    {{ application?.willingToTrain | yesNo }}
                  </p>
                  <p>
                    <strong>Familiar with crate: </strong>
                    {{ application?.familiarWithCrate | yesNo }}
                  </p>
                  <p>
                    <strong>Use Dog Crate: </strong>
                    {{ application?.useDogCrate | yesNo }}
                  </p>
                  <p>
                    <strong>Past Rescue Experience: </strong>
                    {{ application?.pastRescueExperience }}
                  </p>
                  <p>
                    <strong>Take Animal To Vet: </strong>
                    {{ application?.takeAnimalToVet | yesNo }}
                  </p>
                  <p>
                    <strong>Has Vehicle: </strong>
                    {{ application?.haveVehicle | yesNo }}
                  </p>
                  <p>
                    <strong>Medicate Animal: </strong>
                    {{ application?.medicateAnimal | yesNo }}
                  </p>
                  <p>
                    <strong>Hours left Alone Animal: </strong>
                    {{ application?.hoursLeftAlone }}
                  </p>
                </div>
              </div>

              <!-- Contact Section -->
              <div class="row contactSection">
                <!-- Ref contact 1  -->
                <div class="sm-col-4 ml-2 mr-2">
                  <hr style="width: 1px black;" />
                  <h5 class="sectionTitle">Reference Contact 1</h5>
                  <hr style="width: 1px black;" />
                  <p>
                    <strong>First name:</strong>
                    {{ application?.ref1_fname }}
                  </p>
                  <p>
                    <strong>Last name:</strong> {{ application?.ref1_lname }}
                  </p>
                  <p>
                    <strong>Cell Phone:</strong>
                    {{ application?.ref1_cellPhone }}
                  </p>
                  <p><strong>Email:</strong> {{ application?.ref1_email }}</p>
                </div>

                <!-- Ref contact 2  -->
                <div class="sm-col-4 ml-2 mr-2">
                  <hr style="width: 1px black;" />
                  <h5 class="sectionTitle">Reference Contact 2</h5>
                  <hr style="width: 1px black;" />
                  <p>
                    <strong>First name:</strong>
                    {{ application?.ref2_fname }}
                  </p>
                  <p>
                    <strong>Last name:</strong> {{ application?.ref2_lname }}
                  </p>
                  <p>
                    <strong>Cell Phone:</strong>
                    {{ application?.ref2_cellPhone }}
                  </p>
                  <p><strong>Email:</strong> {{ application?.ref2_email }}</p>
                </div>

                <!-- Ref contact 3  -->
                <div class="sm-col-4 ml-2 mr-2">
                  <hr style="width: 1px black;" />
                  <h5 class="sectionTitle">Reference Contact 3</h5>
                  <hr style="width: 1px black;" />
                  <p>
                    <strong>First name:</strong>
                    {{ application?.ref3_fname }}
                  </p>
                  <p>
                    <strong>Last name:</strong> {{ application?.ref3_lname }}
                  </p>
                  <p>
                    <strong>Cell Phone:</strong>
                    {{ application?.ref3_cellPhone }}
                  </p>
                  <p><strong>Email:</strong> {{ application?.ref3_email }}</p>
                </div>
              </div>
            </div>

            <hr />

            <div class="container mb-3">
              <!-- Admin Notes -->
              <!-- (Still awaiting backend and service attribute) -->
              <h3>Reason For Rejection:</h3>
              <i>
                This note will only be visible to admins and won't be visible to
                volunteers
              </i>
              <section class="description mt-4">
                <p>{{ application?.rejectionReason }}</p>
              </section>
            </div>
          </div>

          <div class="modal-footer">
            <button
              class="btn btn-outline-success ml-1 mr-1"
              data-dismiss="modal"
              data-toggle="modal"
              attr.data-target="#pending{{ application?.id }}"
            >
              Mark as Pending
            </button>

            <button
              class="btn btn-outline-danger ml-1 mr-1"
              data-dismiss="modal"
              data-toggle="modal"
              attr.data-target="#delete{{ application?.id }}"
            >
              Delete Application
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Mark as Pending Modal -->
  <div
    class="modal fade"
    id="pending{{ application?.id }}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Mark Application to pending
            {{ application?.lname }}?
          </h5>
          <button class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>
            You are about to send {{ application?.fname }}
            {{ application?.lname }}'s application back to the pending list.
          </p>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-success"
            data-dismiss="modal"
            (click)="sendToPending(application?.id)"
          >
            Confirm
          </button>
          <button class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Of Modal -->

  <!-- Delete Modal -->
  <div class="modal" id="delete{{ application?.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Delete {{ application?.fname }} {{ application?.lname }}?
          </h5>
          <button class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>
            You are about to PERMANENTLY delete {{ application?.fname }}
            {{ application?.lname }}'s foster application?.
          </p>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="deleteApplication(application?.id)"
          >
            Delete Application
          </button>
          <button class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Of Modal -->
</div>
