<div class="container">
  <div class="row pt-3">
    <div class="col-12">
      <div class="alert alert-danger" *ngIf="error">
        <p>
          {{ error }}
        </p>
      </div>
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>
  </div>

  <div class="loginSection">
    <div class="row">
      <div class="col-12">
        <h3 style="color: #ce0e2d; text-align: center;">
          <b> Sign In </b>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form
          #authForm="ngForm"
          (ngSubmit)="onSubmit(authForm)"
          *ngIf="!isLoading"
        >
          <div class="input-group mb-3">
            <div class="col-12 p-0">
              <label for="email"><strong>Email address</strong></label>
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa fa-envelope" aria-hidden="true"></i
              ></span>
            </div>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              class="form-control"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3">
            <div class="col-12 p-0">
              <label for="email"><strong>Password</strong></label>
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa fa-key" aria-hidden="true"></i
              ></span>
            </div>
            <input
              type="password"
              id="password"
              class="form-control"
              minlength="6"
              ngModel
              name="password"
              required
              class="form-control"
              aria-describedby="basic-addon1"
            />
          </div>

          <button
            style="width: 100%; background-color: #ce0e2d; border: none;"
            class="btn btn-success btn-sm mr-2 py-2"
            type="submit"
          >
            <!-- (click)="onLoginClick()" -->
            Login<i class="fa fa-sign-in ml-1" aria-hidden="true"></i>
          </button>
          <app-reset-password style="float: right;"></app-reset-password>

          <div class="form-row"></div>
        </form>
        <div class="container">
          <div class="row p-3 w-25">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="form-row">
      <div class="form-group">
        <span>
          <button class="btn btn-dark mr-2" routerLink="/admin">
            Admin<i class="fa fa-users ml-1" aria-hidden="true"></i>
          </button>
          <button class="btn btn-warning" routerLink="/volunteer">
            Volunteer<i class="fa fa-user-o ml-1" aria-hidden="true"></i>
          </button>
        </span>
      </div>
    </div> -->
    <div class="row">
      <div class="col">
        <p style="text-align: center; color: red;">
          {{ message }}
        </p>
      </div>
    </div>
  </div>
</div>
