<div id="slides" class="carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="../../../../assets/images/Copy of 94 November Copy of IMG_7405-min.jpg"
        alt="First slide"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="../../../../assets/images/IMG_8635-Edit.jpg"
        alt="Second slide"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="../../../../assets/images/Copy of 90 August Copy of IMG_6128-min.jpg"
        alt="Third slide"
      />
    </div>
  </div>
</div>
