<div id="slides" class="carousel" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="img-wrapper">
          <img class="d-block w-100" src="../../../../assets/images/1.jpg" alt="First slide">
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../assets/images/Copy of 4March Copy of DSC_6543 (2)-min.JPG" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../assets/images/Copy of 94 November Copy of IMG_7405-min.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../assets/images/IMG_8635-Edit.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../assets/images/2 JanuaryCopy of DSC_9158-min.jpg" alt="Fourth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../assets/images/Copy of 90 August Copy of IMG_6128-min.jpg" alt="Fifth slide">
      </div>
    </div>
  </div>
