<div data-aos="fade-up" class="mainWrapper mb-5">
  <div class="row mt-5 justify-content-center">
    <div class="col-sm-10 col-lg-6 mb-5">
      <h3 class="mx-2"><b>We would like to <span class="red">sincerely thank the following volunteers</span> for their time and help in bringing this web application to life:</b></h3>
    </div>

    <div class="row justify-content-center col-sm-11 col-md-10">
      <!-- Albert -->
      <div class="col-lg-4 mt-3 mb-4">
        <div
          class="card border-danger shadow"
          style="min-width:15rem; height: auto"
        >
          <div class="card-body">
              <h3 class="text-red">Albert Arrieta</h3>
              <strong><p class="text-right">HTML, CSS</p></strong>
      
              <div><i class="fa fa-user-circle mr-1"></i><a target="_blank" class="mb-2" href="https://alobyte.dev/"
              >alobyte.dev</a
              ></div>
              <div><i class="fa fa-envelope mr-1"></i><a class="mb-2" href="mailto:albert.arrieta12@gmail.com"
                >albert.arrieta12@gmail.com</a
              ></div>
          </div>
        </div>
      </div>

      <!-- Ivan -->
      <div class="col-lg-4 mt-3 mb-4">
        <div
          class="card border-danger shadow"
          style="min-width:15rem; height: auto"
        >
          <div class="card-body">
              <h3 class="text-red">Ivan Okhrimovich</h3>
              <strong><p class="text-right">Angular, Typescript, Bootstrap</p></strong>
          
              <div><i class="fa fa-user-circle mr-1"></i><a target="_blank" class="mb-2" href="https://ivanokhrimovich.com"
              >ivanokhrimovich.com</a
              ></div>
              <div><i class="fa fa-envelope mr-1"></i><a class="mb-2" href="mailto:okhrimovichivan@gmail.com"
                >okhrimovichivan@gmail.com</a
              ></div>
          </div>
        </div>
      </div>

      <!-- Raymond -->
      <div class="col-lg-4 mt-3 mb-4">
        <div
          class="card border-danger shadow"
          style="min-width:15rem; height: auto"
        >
          <div class="card-body">
            <h3 class="text-red">Raymond Si</h3>
            <strong><p class="text-right">Java, SQL</p></strong>
    
            <div class="mb-3 pb-2"><i class="fa fa-envelope mr-1"></i><a class="mb-2" href="mailto:raymond.si@edu.sait.ca"
              >raymond.si@edu.sait.ca</a
            ></div>
          </div>
        </div>
      </div>

      <!-- Luat -->
      <div class="col-lg-4 mt-3 mb-4">
        <div
          class="card border-danger shadow"
          style="min-width:15rem; height: auto"
        >
          <div class="card-body">
            <h3 class="text-red">Luat Nguyen</h3>
            <strong><p class="text-right">Sass, CSS</p></strong>
    
            <div class="mb-3 pb-2"><i class="fa fa-envelope mr-1"></i><a class="mb-2" href="mailto:luat.nguyen@edu.sait.ca"
              >luat.nguyen@edu.sait.ca</a
            ></div>
          </div>
        </div>
      </div>

      <!-- Max -->
      <div class="col-lg-4 mt-3 mb-4">
        <div
          class="card border-danger shadow"
          style="min-width:15rem; height: auto"
        >
          <div class="card-body">
            <h3 class="text-red">Max Parker</h3>
            <strong><p class="text-right">Java, HTML</p></strong>
    
            <div class="mb-3 pb-2"><i class="fa fa-envelope mr-1"></i><a class="mb-2" href="mailto:maximilian.parker@edu.sait.ca"
              >maximilian.parker@edu.sait.ca</a
            ></div>
          </div>
        </div>
      </div>

      <!-- Van -->
      <div class="col-lg-4 mt-3 mb-4">
        <div
          class="card border-danger shadow"
          style="min-width:15rem; height: auto"
        >
          <div class="card-body">
            <h3 class="text-red">Van Tu</h3>
            <strong><p class="text-right">SQL</p></strong>
    
            <div class="mb-3 pb-2"><i class="fa fa-envelope mr-1"></i><a class="mb-2" href="mailto:hanvan.tu@edu.sait.ca"
              >hanvan.tu@edu.sait.ca</a
            ></div>
          </div>
        </div>
      </div>



    </div>
  </div>


    

</div>
