<!-- <div class="jumbotron jumbotron-fluid bg-danger mb-0">
  <h1 class="display-3 text-center text-light">My Account</h1>
</div>
<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/viewEvents"
      >Calgary Animal Rescue Society</a
    >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewEvents">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Volunteers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manageApplications">Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Animals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myAccount">My Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Logout</a>
      </li>
    </ul>
  </div>
</nav> -->
<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Contact Information</h1>
      <br />
      <h5>Firstname:</h5>
      <p>John</p>
      <h5>Lastname:</h5>
      <p>Doe</p>
      <h5>Phone:</h5>
      <p>555 555 555</p>
      <h5>Email:</h5>
      <p>FirstName@Email.com</p>
    </div>
    <br /><br />
    <div class="col-6">
      <h1>About</h1>
      <br />
      <h5>Volunteer ID:</h5>
      <p>1234567</p>
      <h5>Age:</h5>
      <p>32</p>
      <h5>Gender:</h5>
      <p>Mail</p>
      <h5>Occupation:</h5>
      <p>Penetration Tester</p>
      <h5>Availability:</h5>
      <p>Whenever</p>
    </div>
  </div>
</div>
