img{
    width: 11rem;
}

.row{
    margin-bottom: 3rem !important;
}

.strokeme
{
    text-shadow:
    -1px -1px 0 #ce0e2d,
    1px -1px 0 #ce0e2d,
    -1px 1px 0 #ce0e2d,
    1px 1px 0 #ce0e2d;  
}

.mainWrapper {
    min-height: 100vh;
}