<div data-aos="fade-up" class="mainWrapper">
  <div class="jumbotron header-banner">
    <div class="container">
      <h1 class="strokeme">OUR PARTNERS</h1>
    </div>
  </div>

  <div class="container mt-5">
    <div class="text-center pb-3">
      <h5>
        These businesses, companies and organizations are important to the
        running of our rescue. <span class="card-title text-red">They help us by donating their time and
        resources</span>, which allows us to keep our operating costs as low as
        possible. This in turn allows us to help more animals in need find
        wonderful forever homes.
      </h5>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-2">
        <img
          class="shadow rounded mb-2"
          src="../../../../assets/30739643_1625159177568357_892861741640187904_o.jpg"
          alt="Pet Valu"
        />
      </div>
      <div class="col-md-10">
        <h3 class="text-red">
          Pet Valu
          <a href="https://www.petvalu.com/ca" class="btn btn-outline-danger"
            >Website</a
          >
        </h3>
        <p>
          Pet Valu located at 15 Sage Hill Ct NW allows us to host adoption
          events every month. We also keep a special kitty in their cat condo.
          In addition, they collect donations from the public for us. They have
          been so supportive of our efforts to find forever homes for our
          animals.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <img
          class="shadow rounded mb-2"
          src="../../../../assets/dogs-logo-white-on-black.jpg"
          alt="Dogs Rule Pet Grooming"
        />
      </div>
      <div class="col-md-10">
        <h3 class="text-red">
          Dogs Rule Pet Grooming
          <a href="https://dogsrulegrooming.com/" class="btn btn-outline-danger mt-1"
            >Website</a
          >
        </h3>
        <p>
          Dogs Rule Pet Grooming is located at 4708 26 Ave SW, Calgary. All of
          our Rescue dogs enjoy a complete spa treatment before they are
          adopted. They want to look their best for their new family.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <img
          class="shadow rounded mb-2"
          src="../../../../assets/APlogo.jpg"
          alt="Alexis Peters"
        />
      </div>
      <div class="col-md-10">
        <h3 class="text-red">Alexis Peters</h3>
        <p>
          Alexis Peters volunteers her skills as a professional photographer to
          come and take stunningly beautiful pictures of our foster animals. Her
          skilled photographs help potential adopters to see the inner beauty of
          our animals, not just their outer beauty. Many of the photographs
          featured on this website were taken by Alexis for us, and we are
          grateful for the time and skills that she shares with us.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <img
          class="shadow rounded mb-2"
          src="../../../../assets/petsmart.jpg"
          alt="Petsmart"
        />
      </div>
      <div class="col-md-10">
        <h3 class="text-red">
          Petsmart
          <a href="https://www.petsmart.ca/" class="btn btn-outline-danger"
            >Website</a
          >
        </h3>
        <p>
          PETSMART located at 321 61st Ave SW (across from Chinook Mall) this
          store has been a long time supporter of ours. They host monthly
          adoption events for our animals and allow us space for a cat in their
          cat room. They collect donations for us and invite us to participate
          in all of their major adoption events.
        </p>
      </div>
    </div>
  </div>
</div>
