<div data-aos="fade-up">
    <div class="jumbotron header-banner">
      <div class="container">
        <h1 class="strokeme">THE RAINBOW BRIDGE</h1>
      </div>
    </div>

    <div class="container text-center mt-4">

        <h2 class="text-red">Missing You</h2>

        <blockquote class="blockquote">
            <p>
                I stood by your bed last night, I came to have a peep.<br>

                I could see that you were crying. You found it hard to sleep.<br>
                <br>
                ​
                
                I whined to you softly as you brushed away a tear,<br>
                
                “It’s me, I haven’t left you, I’m well, I’m fine, I’m here”<br>
                <br>
                ​
                
                I was close to you at breakfast, I watched you pour the tea,<br>
                
                You were thinking of the times you hands reached down to me.<br>
                <br>
                ​
                
                I was with you at the shop today. Your arms were getting sore.<br>
                
                I longed to take your parcels, I wish that I could do more.<br>
                <br>
                ​
                
                I was with you at my grave today. You tend it with such care.<br>
                
                I want to reassure you that I’m not lying there<br>
                <br>
                ​
                
                I walked with you to the house, as you fumbled with your key<br>
                
                I gently put my paw on you, I smiled and said “It’s me”<br>
                <br>
                ​
                
                You looked so very tired and sank into a chair.<br>
                
                I tried so hard to let you know that I was standing there.<br>
                <br>
                ​
                
                It’s possible for me to be so near you every day<br>
                
                To say to you with certainty “I never went away.”<br>
                <br>
                ​
                
                You sat there very quietly, then smiled, I think you knew….<br>
                
                in the stillness of that evening, I was close to you.<br>
                <br>
                ​
                
                The day is over….I smile and watch you yawning<br>
                
                and say “Good-night, God bless, I’ll see you in the morning”.<br>
                <br>
                ​
                
                And when the time is right for you to cross the brief divide,<br>
                
                I’ll rush across to greet you and we’ll stand, side by side.<br>
                <br>
                ​
                
                I have so many things to show you, there is so much for you to see.<br>
                
                Be patient, live your journey out… then come home to be with me.​<br>
            </p>
            <footer class="blockquote-footer">Unknown</footer>
          </blockquote>
    </div>

    <hr>

    <div class="container">
        <p><strong class="text-red">Zeus</strong> overcame many difficulties in his early life to become a wonderful loving boy. Tragedy took this amazing dog far too soon, and he is missed.</p>
        <p><strong class="text-red">Monique</strong> while only in our care for a brief time,  was much loved and will be deeply missed. She had a full life during her 13 years on earth.</p>
        <p><strong class="text-red">Ace</strong> was a handsome boy whose life was cut tragically short. Though his time here was brief he will leave behind a legacy of love.</p>
        <p><strong class="text-red">George</strong> was a beautiful boy full of vigor and love. An unforeseen accident ended his life far too early. He will be missed by all who knew her.</p>
    </div>

    <hr>

    <div class="container text-center mb-5">
        <p>If you have recently experienced the loss of a beloved pet that you adopted from us and would like to add them to this page, please email us. When you send your email please include a picture of the animal and what you would like us to say about your loved one.</p>
    </div>
</div>