<div id="back" data-aos="fade-up">
  <div class="jumbotron header-banner">
    <div class="container">
      <h1 class="strokeme">FOSTER</h1>
    </div>
  </div>

  <div class="container">
    <h2 class="text-center mt-4">Interested in Fostering?</h2>
    <h3 class="text-red">Why Should You Foster?</h3>
    <p class="text-justify">
      Our network of volunteer foster homes is of paramount importance to
      Calgary Animal Rescue success. Animals are placed in appropriate foster
      homes where they receive necessary veterinary care, socialization with
      people and other animals, training, and most importantly – LOVE . Our
      foster homes have the opportunity to discover each animal’s unique
      personality and help us to match the animal to the perfect forever home.
      <br />
      If you have love to spare, consider becoming a foster home. It is the most
      rewarding experience in life to know that you have given HOPE and LOVE to
      an animal in their hour of need.
    </p>
    <h3 class="text-red">CARS relies on its foster homes to provide:</h3>
    <p class="text-justify">
      <li>
        Support, love and guidance for the foster animal in preparation for
        future adoptions.
      </li>
      <li>
        Transport of the foster animal to arranged veterinary appointments for
        health checks and procedures, also potential medication administration
        as needed.
      </li>
      <li>
        Transport of the foster animal to adoption events and frequent updates
        with pictures to CARS regarding the foster’s unique personality.
      </li>
      <li>
        Liaise with pre screened potential adopters and arrange mutually agreed
        upon meetings with potential adopters and the foster animal.
      </li>
    </p>

    <h3 class="text-red">CARS provides its foster homes with:</h3>
    <p class="text-justify">
      <li>
        All animal care items for each individual foster animal such as: crates,
        bowls, kennels, food, litter, litter box, leash, collar, treats, beds,
        toys, puppy pads.
      </li>
      <li>
        Around the clock support to foster home coordinator via phone or email
        and training as required.
      </li>
      <li>
        Veterinary care/costs of foster animal under the express guidance of the
        CARS foster coordinator.
      </li>
    </p>

    <div class="text-center">
      <button
          class="btn lg-red-btn shadow mt-4 mb-4"
          [routerLink]="'/foster-application/'"
          (click)="onScroll()"
        >
          Foster Application Form
        </button>
    </div>
  </div>

  <!-- Foster Homes Section -->
  <app-foster-home-section></app-foster-home-section>
</div>
