
.foster-card{
    border-radius: 0rem !important;
    border: 0px !important;
  }

.foster-icon{
margin-top: 2rem;
margin-bottom: 2rem;
color: #ce0e2d;
}

.jumbotron{
background-color: white !important;
}

