<div class="jumbotron text-center" id="foster-home-section">
    <div class="container">
      <h2>Our Foster Homes</h2>
      <p>
        Our network of volunteer foster homes is of paramount importance to
        Calgary Animal Rescue success. Animals are placed in appropriate foster
        homes where they receive necessary veterinary care, socialization with
        people and other animals, training, and most importantly – LOVE.
      </p>
      <div class="container mb-5">
        <div class="row mb-3">
          <div class="col-md-4">
            <div class="card foster-card">
              <div class="card-body">
                <i class="fa fa-5x fa-paw foster-icon"></i>
                <h4 class="card-title">Adult Dog</h4>
                    <p class="card-text mt-4 ml-2 mr-2">
                      Normal care, possibly minor medical treatments, basic or
                      advanced obedience training. General placements are from a
                      few weeks to a couple of months.
                    </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card foster-card">
              <div class="card-body">
                <i class="fa fa-5x fa-paw foster-icon"></i>
                <h4 class="card-title">Puppy</h4>
                    <p class="card-text mt-4 ml-2 mr-2">
                      Normal care, possibly minor medical treatments. Obedience
                      training, housebreaking, crate training. Generally
                      placements are for a few weeks.
                    </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card foster-card">
              <div class="card-body">
                <i class="fa fa-5x fa-paw foster-icon"></i>
                <h4 class="card-title">Adult Cat</h4>
                    <p class="card-text mt-4 ml-2 mr-2">
                      Normal care, possibly minor medical treatments. Generally
                      placements are for a few weeks to a Couple of months.
                      Kittens – Normal care, possibly minor medical treatments,
                      basic training. Generally placements are for a few weeks.
                    </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <div class="card foster-card">
              <div class="card-body">
                <i class="fa fa-5x fa-stethoscope foster-icon"></i>
                <h4 class="card-title">Medical Care</h4>
                    <p class="card-text mt-4 ml-2 mr-2">
                      (Canine or Feline) – Moderate medical treatments,
                      supportive care (tasks may include applying warm
                      compresses, administrating pills, administrating drops or
                      ointments, monitoring incisions, etc.) Medical Care
                      fosters may require a room separate from foster household
                      animals. Generally placements are 2-6 weeks.
                    </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-5">
            <div class="card foster-card">
              <div class="card-body">
                <i class="fa fa-5x fa-medkit foster-icon"></i>
                <h4 class="card-title">Neonantal</h4>
                    <p class="card-text mt-4 ml-2 mr-2">
                      (Canine or Feline) – Pregnant and after-birth care.
                      Generally placements are for 8 to 16 weeks. Quarantine
                      (Canine or Feline) – Normal care, possibly minor to
                      moderate medical treatments.
                    </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card foster-card">
              <div class="card-body">
                <i class="fa fa-5x fa-plus foster-icon"></i>
                <h4 class="card-title">Quarantine</h4>
                    <p class="card-text mt-4 ml-2 mr-2">
                      Quarantine foster homes either have no other animals in
                      the home, or they have a separate room that can be
                      sanitized and used to quarantine animals who have
                      uncertain histories, weakened immune systems, or who are
                      contagious. Generally placements are 2 -4 weeks.
                    </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>