<ng-container *ngIf="aList.length === 0 && !isLoading">
  <div class="row justify-content-center">
    <p>
      We don't nave anything to display at this time. Please stand by or check
      again later
    </p>
  </div>
</ng-container>

<ng-container *ngIf="aList.length > 0 && !isLoading">
  <!-- add new animal button -->
  <div class="container">
    <button
      id="btnAdd"
      class="btn btn-outline-success mb-4"
      data-dismiss="modal"
      data-target="#addAnimal"
      data-toggle="modal"
    >
      <span class="mr-2"
        ><i class="fa fa-plus-circle" style="font-size: 20px;"></i
      ></span>
      Add a new animal
    </button>
  </div>
  <!-- data list -->
  <div class="body">
    <div class="pt-2">
      <div class="container">
        <div class="table-responsive-md">
          <table
            id="myTable"
            #dataTable
            class="table table-hover"
            width="100%"
            style="background-color: #eeeef2;"
          >
            <thead style="background-color: #ce0e2d; color: white;">
              <tr>
                <th class="th">Name</th>
                <th class="th">Date</th>
                <th class="th">Age</th>
                <th class="th">Species</th>
                <th class="th">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of aList"
                (click)="viewAnimal(item.id)"
                data-toggle="modal"
                data-target="#viewAnimalModal"
                style="cursor: pointer;"
              >
                <td [innerText]="item.name"></td>
                <td [innerText]="item.date"></td>
                <td [innerText]="item.age"></td>
                <td [innerText]="item.species"></td>
                <td [innerText]="item.status"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- bootstrap pop up modal  -->
  <div
    class="modal fade"
    tabindex="-1"
    id="viewAnimalModal"
    role="dialog"
    aria-labelledby="viewAnimalModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal modal-dialog-centered" role="document">
      <div class="modal-content">
        <ng-container *ngIf="this.fetchedLoading">
          <div class="row justify-content-center">
            <div class="spinner-border text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!this.fetchedLoading && this.fetched">
          <div
            class="modal-header"
            style="background-color: #ce0e2d; color: white;"
          >
            <h2 class="modal-title" id="viewAnimalModalLabel">
              Animal Information
            </h2>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- this is the personal information of animal  -->
            <div class="row">
              <div class="col-4" style="background-color: #f5eaea;">
                <div class="animalName">
                  <p class="mt-2"><strong>Name:</strong> {{ fetched.name }}</p>
                  <p><strong>Species:</strong> {{ fetched.species }}</p>
                  <p><strong>Date of Intake:</strong> {{ fetched.date }}</p>
                  <p><strong>Age:</strong> {{ fetched.age }}</p>
                </div>
              </div>
              <div class="col-8 mt-2">
                <div class="extraInfo">
                  <div class="titleInfo">
                    <span
                      ><strong style="color: #ce0e2d; margin-left: 3%;"
                        >Breed</strong
                      ></span
                    >
                  </div>
                  <div class="detailSection" style="padding-left: 3%;">
                    {{ fetched.breed }}
                  </div>
                </div>

                <div class="extraInfo mt-3">
                  <div class="titleInfo">
                    <span
                      ><strong style="color: #ce0e2d; margin-left: 3%;"
                        >Bio</strong
                      ></span
                    >
                  </div>
                  <div class="detailSection" style="padding-left: 3%;">
                    {{ fetched.bio }}
                  </div>
                </div>

                <div class="extraInfo mt-3">
                  <div class="titleInfo">
                    <span
                      ><strong style="color: #ce0e2d; margin-left: 3%;"
                        >Medical History</strong
                      ></span
                    >
                  </div>
                  <div class="detailSection" style="padding-left: 3%;">
                    {{ fetched.medicalHistory }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" style="justify-content: center;">
            <div style="display: flex;">
              <button
                type="button"
                class="btn btn-outline-danger delete-button mr-2"
                data-dismiss="modal"
                data-target="#confirmDelete"
                data-toggle="modal"
              >
                Delete
              </button>
              <button
                type="button"
                class="btn btn-outline-info"
                data-dismiss="modal"
                data-target="#editAnimal"
                data-toggle="modal"
              >
                Edit
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- confirm delete  -->
  <div
    class="modal fade"
    id="confirmDelete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <ng-container *ngIf="this.fetchedLoading">
          <div class="row justify-content-center">
            <div class="spinner-border text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!this.fetchedLoading && this.fetched">
          <div
            class="modal-header"
            style="background-color: #ce0e2d; color: white;"
          >
            <h5 class="modal-title" id="exampleModalLongTitle">
              Confirm Delete
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ml-2" style="padding: 4% 0px;">
            Are you sure you want to permanently delete
            <span style="color: orangered;">{{ fetched.name }} </span> ?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-danger"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-outline-success"
              data-dismiss="modal"
              (click)="onDeleteAnimal()"
            >
              OK
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- popup edit animal  -->
  <div
    class="modal fade"
    id="editAnimal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <ng-container *ngIf="this.fetchedLoading">
          <div class="row justify-content-center">
            <div class="spinner-border text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!this.fetchedLoading && this.fetched">
          <div
            class="modal-header"
            style="background-color: #ce0e2d; color: white;"
          >
            <h5 class="modal-title" id="exampleModalLongTitle">Edit Animal</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ml-2" style="padding: 4% 0px;">
            <form #editForm="ngForm" (ngSubmit)="editAnimal(editForm)">
              <label for="">ID</label>
              <input
                type="text"
                class="form-control"
                name="id"
                [(ngModel)]="fetched.id"
                readonly
              />
              <label for="">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="fetched.name"
                #Name="ngModel"
                required
              />
              <!-- validation  -->
              <div *ngIf="Name.errors && (Name.touched || Name.dirty)">
                <div *ngIf="Name.errors.required" class="text-danger">
                  <em style="color: red;">*Name is required*</em>
                </div>
              </div>
              <label for="">Age</label>
              <input
                type="number"
                class="form-control"
                min="0"
                name="age"
                [(ngModel)]="fetched.age"
                #Age="ngModel"
                required
              />
              <!-- validation  -->
              <div *ngIf="Age.errors && (Age.touched || Age.dirty)">
                <div *ngIf="Age.errors.required" class="text-danger">
                  <em style="color: red;">*Age is required*</em>
                </div>
              </div>
              <label for="">Date</label>
              <input
                type="text"
                placeholder="2020-12-31"
                class="form-control"
                name="date"
                [(ngModel)]="fetched.date"
                #Date="ngModel"
                required
              />
              <!-- validation  -->
              <div *ngIf="Date.errors && (Date.touched || Date.dirty)">
                <div *ngIf="Date.errors.required" class="text-danger">
                  <em style="color: red;">*Date is required*</em>
                </div>
              </div>

              <label for="">Species</label>
              <input
                type="text"
                class="form-control"
                name="species"
                [(ngModel)]="fetched.species"
                #Species="ngModel"
                required
              />
              <!-- validation  -->
              <div *ngIf="Species.errors && (Species.touched || Species.dirty)">
                <div *ngIf="Species.errors.required" class="text-danger">
                  <em style="color: red;">*Species is required*</em>
                </div>
              </div>

              <label for="">Breed</label>
              <input
                type="text"
                class="form-control"
                name="breed"
                [(ngModel)]="fetched.breed"
                #Breed="ngModel"
                required
              />
              <!-- validation  -->
              <div *ngIf="Name.errors && (Breed.touched || Breed.dirty)">
                <div *ngIf="Breed.errors.required" class="text-danger">
                  <em style="color: red;">*Breed is required*</em>
                </div>
              </div>

              <label for="">Bio</label>
              <input
                type="text"
                class="form-control"
                name="bio"
                [(ngModel)]="fetched.bio"
                #Bio="ngModel"
                required
              />
              <!-- validation  -->
              <div *ngIf="Bio.errors && (Bio.touched || Bio.dirty)">
                <div *ngIf="Bio.errors.required" class="text-danger">
                  <em style="color: red;">*Bio is required*</em>
                </div>
              </div>

              <label for="">Medical history</label>
              <input
                type="text"
                class="form-control"
                name="medicalHistory"
                #Medical="ngModel"
                [(ngModel)]="fetched.medicalHistory"
                required
              />
              <!-- validation  -->
              <div *ngIf="Medical.errors && (Medical.touched || Medical.dirty)">
                <div *ngIf="Medical.errors.required" class="text-danger">
                  <em style="color: red;">*Medical history is required*</em>
                </div>
              </div>

              <label for="">Status</label>
              <input
                type="text"
                class="form-control"
                name="status"
                #Status="ngModel"
                [(ngModel)]="fetched.status"
                required
              />
              <!-- validation  -->
              <div *ngIf="Status.errors && (Status.touched || Status.dirty)">
                <div *ngIf="Status.errors.required" class="text-danger">
                  <em style="color: red;">*Status is required*</em>
                </div>
              </div>

              <div style="display: flex; justify-content: center;">
                <button
                  type="button"
                  class="btn btn-outline-danger mt-3 mx-3"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="btn btn-outline-success mt-3"
                  [disabled]="editForm.invalid"
                  onclick="$('.modal').modal('hide')"
                >
                  Confirm
                </button>
              </div>
            </form>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- pop up to add animal  -->
  <div
    class="modal fade"
    id="addAnimal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div
          class="modal-header"
          style="background-color: #ce0e2d; color: white;"
        >
          <h5 class="modal-title" id="exampleModalLongTitle">Add animal</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ml-2" style="padding: 4% 0px;">
          <form #form="ngForm" (ngSubmit)="onAddAnimal(form)">
            <label for="">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              ngModel
              #Name="ngModel"
              required
            />
            <!-- validation  -->
            <div *ngIf="Name.errors && (Name.touched || Name.dirty)">
              <div *ngIf="Name.errors.required" class="text-danger">
                <em style="color: red;">*Name is required*</em>
              </div>
            </div>

            <label for="">Date</label>
            <input
              type="text"
              placeholder="Ex:2020-12-31"
              class="form-control"
              name="date"
              ngModel
              #Date="ngModel"
              required
            />
            <!-- validation  -->
            <div *ngIf="Date.errors && (Date.touched || Date.dirty)">
              <div *ngIf="Date.errors.required" class="text-danger">
                <em style="color: red;">*Date is required*</em>
              </div>
            </div>

            <label for="">Age</label>
            <input
              type="number"
              class="form-control"
              name="age"
              ngModel
              #Age="ngModel"
              required
            />
            <!-- validation  -->
            <div *ngIf="Age.errors && (Age.touched || Age.dirty)">
              <div *ngIf="Age.errors.required" class="text-danger">
                <em style="color: red;">*Age is required*</em>
              </div>
            </div>

            <label for="">Species</label>
            <input
              type="text"
              class="form-control"
              name="species"
              ngModel
              #Species="ngModel"
              required
            />
            <!-- validation  -->
            <div *ngIf="Species.errors && (Species.touched || Species.dirty)">
              <div *ngIf="Species.errors.required" class="text-danger">
                <em style="color: red;">*Species is required*</em>
              </div>
            </div>

            <label for="">Status</label>
            <input
              type="text"
              class="form-control"
              name="status"
              #Status="ngModel"
              ngModel
              required
            />
            <!-- validation  -->
            <div *ngIf="Status.errors && (Status.touched || Status.dirty)">
              <div *ngIf="Status.errors.required" class="text-danger">
                <em style="color: red;">*Status is required*</em>
              </div>
            </div>

            <label for="">Breed</label>
            <input
              type="text"
              class="form-control"
              name="breed"
              ngModel
              #Breed="ngModel"
              required
            />
            <!-- validation  -->
            <div *ngIf="Name.errors && (Breed.touched || Breed.dirty)">
              <div *ngIf="Breed.errors.required" class="text-danger">
                <em style="color: red;">*Breed is required*</em>
              </div>
            </div>

            <label for="">Bio</label>
            <input
              type="text"
              class="form-control"
              name="bio"
              ngModel
              #Bio="ngModel"
              required
            />
            <!-- validation  -->
            <div *ngIf="Bio.errors && (Bio.touched || Bio.dirty)">
              <div *ngIf="Bio.errors.required" class="text-danger">
                <em style="color: red;">*Bio is required*</em>
              </div>
            </div>

            <label for="">Medical history</label>
            <input
              type="text"
              class="form-control"
              name="medicalHistory"
              #Medical="ngModel"
              ngModel
              required
            />
            <!-- validation  -->
            <div *ngIf="Medical.errors && (Medical.touched || Medical.dirty)">
              <div *ngIf="Medical.errors.required" class="text-danger">
                <em style="color: red;">*Medical history is required*</em>
              </div>
            </div>

            <div style="display: flex; justify-content: center;">
              <button
                type="button"
                class="btn btn-danger mt-3 mx-3"
                data-dismiss="modal"
              >
                Cancel
              </button>
              <button
                type="submit"
                class="btn btn-success mt-3"
                [disabled]="form.invalid"
                onclick="$('.modal').modal('hide')"
              >
                Confirm
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="this.isLoading">
  <div class="row justify-content-center">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>
