@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap");

.header-popup {
  margin-left: 10%;
  text-align: center;
  padding: 11px 0px;
}
.modal-footer,
.modal-header {
  border: none;
}

.modal-header {
  padding: 0px;
}
h3 {
  /* font-family: 'Merriweather', serif; */
}

#submitButton {
  width: 75%;
  border: none;
  background-color: #ce0e2d;
}

#submitButton:hover {
  background-color: rgb(218, 13, 13);
}
