<!-- NAVBAR -->
<div class="row sticky-top">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand ml-5 pt-1">
      <img
        id="logo"
        src="../../../assets/cars-site-logo1.png"
        alt="Calgary Animal Rescue Society"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#carsNav"
    >
      <span class="navbar-toggler-icon" id="navbarToggler"></span>
    </button>

    <div class="collapse navbar-collapse" id="carsNav">
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="events" routerLinkActive="active"
            >Events</a
          >
          <!-- [routerLink]="['admin/events']"
          routerLinkActive="active" -->
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['volunteers']"
            routerLinkActive="active"
          >
            Volunteers
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['fosters']"
            routerLinkActive="active"
          >
            Fosters
          </a>
        </li>

        <li class="dropdown nav-item" style="cursor: pointer;">
          <a
            class="{{
              rla.isActive || rlb.isActive || rlc.isActive || rld.isActive
                ? 'dropdown-toggle nav-link active'
                : 'dropdown-toggle nav-link'
            }} "
            id="dropdownApplications"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            routerLinkActive
          >
            Applications
          </a>
          <div
            class="dropdown-menu"
            aria-labelledby="dropdownApplications"
            style="background-color: white;"
          >
            <a
              class="nav-link dropdown-item"
              routerLink="/admin/fosterapplications"
              routerLinkActive="active"
              #rla="routerLinkActive"
              >Foster Applications</a
            >
            <!-- <a routerLink="/user/jim">Jim</a> -->
            <a
              class="nav-link dropdown-item"
              routerLink="/admin/applications"
              routerLinkActive="active"
              #rlb="routerLinkActive"
              >Volunteer Applications</a
            >
            <a
              class="nav-link dropdown-item"
              [routerLink]="['dog']"
              routerLinkActive="active"
              #rlc="routerLinkActive"
              >Dog adoption applications</a
            >
            <a
              class="nav-link dropdown-item"
              [routerLink]="['cat']"
              routerLinkActive="active"
              #rld="routerLinkActive"
              >Cat adoption applications</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" (click)="doLogOut()"
            ><i class="fa fa-sign-out mr-1" aria-hidden="true"></i>Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
