<!-- NAVBAR -->
<div class="row sticky-top" data-aos="fade-down">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand ml-5 pt-1">
      <img
        id="logo"
        src="../../../assets/cars-site-logo1.png"
        alt="Calgary Animal Rescue Society"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#carsNav"
    >
      <span class="navbar-toggler-icon" id="navbarToggler"></span>
    </button>

    <div class="collapse navbar-collapse" id="carsNav">
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="events" routerLinkActive="active"
            >Events</a
          >
          <!-- [routerLink]="['admin/events']"
          routerLinkActive="active" -->
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['volunteers']"
            routerLinkActive="active"
          >
            Volunteers
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['fosters']"
            routerLinkActive="active"
          >
            Fosters
          </a>
        </li>

        <li class="dropdown nav-item" style="cursor: pointer;">
          <a
            class="{{
              rla.isActive ||
              rla2.isActive ||
              rlb.isActive ||
              rlb2.isActive ||
              rlc.isActive ||
              rlc2.isActive ||
              rlc3.isActive ||
              rld.isActive ||
              rld2.isActive ||
              rld3.isActive
                ? 'dropdown-toggle nav-link active'
                : 'dropdown-toggle nav-link'
            }} "
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            routerLinkActive
          >
            <!-- id="dropdownApplications" -->
            Applications
          </a>
          <div class="dropdown-menu" style="background-color: white;">
            <!-- aria-labelledby="dropdownApplications" -->
            <a
              class="nav-link dropdown-item"
              routerLink="/admin/fosterapplications"
              routerLinkActive="active"
              #rla="routerLinkActive"
              >Foster Applications</a
            >
            <a
              hidden
              class="nav-link dropdown-item"
              routerLink="/admin/fosterarchive"
              routerLinkActive="active"
              #rla2="routerLinkActive"
              >Rejected Foster Applications</a
            >
            <a
              class="nav-link dropdown-item"
              routerLink="/admin/applications"
              routerLinkActive="active"
              #rlb="routerLinkActive"
              >Volunteer Applications</a
            >
            <a
              hidden
              class="nav-link dropdown-item"
              routerLink="/admin/volunteerarchive"
              routerLinkActive="active"
              #rlb2="routerLinkActive"
              >Rejected Volunteer Applications</a
            >
            <a
              class="nav-link dropdown-item"
              [routerLink]="['dog']"
              routerLinkActive="active"
              #rlc="routerLinkActive"
              >Dog adoption applications</a
            >
            <a
              hidden
              class="nav-link dropdown-item"
              [routerLink]="['acceptedDog']"
              routerLinkActive="active"
              #rlc2="routerLinkActive"
              >Accepted Dog adoption applications</a
            >

            <a
              hidden
              class="nav-link dropdown-item"
              [routerLink]="['rejectedDog']"
              routerLinkActive="active"
              #rlc3="routerLinkActive"
              >Rejected Dog adoption applications</a
            >

            <a
              class="nav-link dropdown-item"
              [routerLink]="['cat']"
              routerLinkActive="active"
              #rld="routerLinkActive"
              >Cat adoption applications</a
            >

            <a
              hidden
              class="nav-link dropdown-item"
              [routerLink]="['acceptedCat']"
              routerLinkActive="active"
              #rld2="routerLinkActive"
              >Accepted Cat adoption applications</a
            >

            <a
              hidden
              class="nav-link dropdown-item"
              [routerLink]="['rejectedCat']"
              routerLinkActive="active"
              #rld3="routerLinkActive"
              >Rejected Cat adoption applications</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" (click)="doLogOut()"
            ><i class="fa fa-sign-out mr-1" aria-hidden="true"></i>Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
