<div class="jumbotron" data-aos="fade-in-out" data-aos-easing="ease-in-quad">
  <div class="container">
    <h1 class="display-4 text-center" id="topPage">Cat Adoption Application</h1>
  </div>
</div>

<div class="container" data-aos="fade-in-out" data-aos-easing="ease-in-quad">
  <button
    class="btn btn-primary mb-5 text-left"
    type="button"
    (click)="onOkClick()"
  >
    <i class="fa fa-reply" aria-hidden="true"></i> Back to Home Page
  </button>
</div>

<div
  class="container background"
  data-aos="fade-in-out"
  data-aos-easing="ease-in-quad"
>
  <form [formGroup]="parentForm" (ngSubmit)="onSubmit()" id="topPage">
    <app-form (formReady)="onSubFormReady($event, 'basicInfo')"></app-form>
    <app-family-lifestyle
      (formReady)="onSubFormReady($event, 'familyLifestyle')"
    ></app-family-lifestyle>
    <app-your-home
      (formReady)="onSubFormReady($event, 'yourHome')"
    ></app-your-home>
    <app-current-previous
      (formReady)="onSubFormReady($event, 'currentPreviousPet')"
    ></app-current-previous>
    <app-new-pet-info
      (formReady)="onSubFormReady($event, 'newPetInfo')"
    ></app-new-pet-info>
    <app-physical-characteristics
      (formReady)="onSubFormReady($event, 'physicalCharacter')"
    >
    </app-physical-characteristics>
    <app-cat-table
      (formReady)="onSubFormReady($event, 'catTable')"
    ></app-cat-table>
    <app-cat-table2
      (formReady)="onSubFormReady($event, 'catTable2')"
    ></app-cat-table2>
    <app-references
      (formReady)="onSubFormReady($event, 'references')"
    ></app-references>

    <div style="display: flex; justify-content: space-evenly;">
      <button
        onclick="window.print()"
        class="btn btn-danger ml-3 mx-2"
        style="padding: 9px;"
      >
        <i class="fa fa-print"></i> Print Form
      </button>

      <div *ngIf="parentForm.invalid">
        <button
          type="submit"
          class="btn btn-success mx-2"
          style="padding: 9px;"
          data-toggle="modal"
          data-target="#unsuccess"
        >
          Submit Form
        </button>
      </div>

      <div *ngIf="parentForm.valid">
        <button
          type="submit"
          class="btn btn-success mx-2"
          style="padding: 9px;"
          data-toggle="modal"
          data-target="#success"
        >
          Submit Form
        </button>
      </div>
    </div>
  </form>
</div>
<div data-aos="fade-in-out" data-aos-easing="ease-in-quad">
  <a (click)="onScroll()" id="button-top"
    ><i class="fa fa-angle-double-up"></i
  ></a>
</div>

<!-- modal thanks for submit  -->
<div
  class="modal fade"
  id="success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <strong style="color: green;">Thank you for your submission !</strong>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          data-dismiss="modal"
          class="btn btn-primary"
          (click)="onOkClick()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal check info again  -->
<div
  class="modal fade"
  id="unsuccess"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <strong>Please make sure all fields are filled in!</strong>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
