<div class="jumbotron" data-aos="fade-in-out" data-aos-easing="ease-in-quad">
  <div class="container">
    <h1 class="display-4 text-center">Volunteer Form</h1>
  </div>
</div>

<div class="container" data-aos="fade-in-out" data-aos-easing="ease-in-quad">
  <button class="btn btn-primary mb-5" type="button" (click)="onOkClick()">
    <i class="fa fa-reply" aria-hidden="true"></i> Back to Login
  </button>
  <p>
    Please complete this application form if you are interested in becoming a
    Calgary Animal Rescue Society (CARS) volunteer. Once you complete the form,
    click the Submit button at the bottom.
  </p>
  <br />
  <hr />
  <form
    class="mb-5"
    #volunteerForm="ngForm"
    (ngSubmit)="onSubmit(volunteerForm)"
  >
    <div>
      <h3>Name and Address</h3>
      <div class="row">
        <div class="col-sm-6">
          <label for="firstname">First name:</label>
          <input
            type="text"
            id="firstname"
            class="form-control"
            placeholder="First name"
            ngModel
            name="firstname"
            required
            #firstname="ngModel"
            pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,25}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!firstname.valid && firstname.touched"
            >Please enter a first name.(Maximum characters: 25)</span
          >
        </div>
        <div class="col-sm-6">
          <label for="lastname">Last name:</label>
          <input
            type="text"
            id="lastname"
            class="form-control"
            placeholder="Last name"
            ngModel
            name="lastname"
            required
            #lastname="ngModel"
            pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,25}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!lastname.valid && lastname.touched"
            >Please enter a last name.(Maximum characters: 25)</span
          >
        </div>
      </div>

      <label for="street1">Street 1:</label>
      <input
        type="text"
        id="street1"
        class="form-control"
        placeholder="Street 1"
        ngModel
        name="street1"
        required
        #street="ngModel"
        pattern="^.{1,50}$"
      />
      <span
        class="help-block text-danger"
        *ngIf="!street.valid && street.touched"
        >Please enter a Street address. (Maximum characters: 50)</span
      >
      <br />
      <div class="row">
        <div class="col-sm-6">
          <label for="city">City:</label>
          <input
            type="text"
            id="city"
            class="form-control"
            placeholder="City"
            ngModel
            name="city"
            required
            #city="ngModel"
          />
          <span
            class="help-block text-danger"
            *ngIf="!city.valid && city.touched"
            >Please enter a City.</span
          >
        </div>
        <div class="col-sm-2">
          <label for="province">Province: </label>
          <select
            id="province"
            class="form-control"
            [ngModel]="defaultProvince"
            name="province"
            required
            #province="ngModel"
          >
            <option value="choose">
              Choose
            </option>
            <option>
              AB
            </option>
            <option>
              BC
            </option>
            <option>
              MB
            </option>
            <option>
              NB
            </option>
            <option>
              NL
            </option>
            <option>
              NS
            </option>
            <option>
              NT
            </option>
            <option>
              NU
            </option>
            <option>
              ON
            </option>
            <option>
              PE
            </option>
            <option>
              QC
            </option>
            <option>
              SK
            </option>
            <option>
              YT
            </option>
          </select>
          <span
            class="help-block text-danger"
            *ngIf="province.value === 'choose' && province.touched"
            >Please enter a valid province.</span
          >
        </div>
        <div class="col-sm-4">
          <label for="postalCode">Postal code:</label>
          <input
            type="text"
            id="postalCode"
            class="form-control"
            placeholder="Postal Code"
            ngModel
            name="postalCode"
            required
            #postalcode="ngModel"
            ngModel
            pattern="[A-Za-z][0-9][A-Za-z] [0-9][A-Za-z][0-9]"
          />
          <span
            class="help-block text-danger"
            *ngIf="!postalcode.valid && postalcode.touched"
          >
            Please enter a valid province (A1A 1A1).</span
          >
        </div>
      </div>

      <br />
      <div class="row">
        <div class="col-sm-6">
          <label for="homePhone">Home Phone:</label>
          <input
            type="text"
            id="homePhone"
            class="form-control"
            placeholder="XXX-XXX-XXXX"
            ngModel
            name="homePhone"
            required
            #hphone="ngModel"
            ngModel
            pattern="\d{3}[\-]\d{3}[\-]\d{4}"
          />
          <span
            class="help-block text-danger"
            *ngIf="!hphone.valid && hphone.touched"
          >
            Please enter a valid phone number. Make sure to add dashes! (-)
          </span>
        </div>
        <div class="col-sm-6">
          <label for="cellPhone">Cell Phone:</label>
          <input
            type="text"
            id="cellPhone"
            class="form-control"
            placeholder="XXX-XXX-XXXX"
            ngModel
            name="cellPhone"
            required
            #cphone="ngModel"
            ngModel
            pattern="\d{3}[\-]\d{3}[\-]\d{4}"
          />
          <span
            class="help-block text-danger"
            *ngIf="!cphone.valid && cphone.touched"
          >
            Please enter a valid phone number. Make sure to add dashes! (-)
          </span>
        </div>
      </div>

      <label for="email">Email Address:</label>
      <input
        type="text"
        id="email"
        class="form-control"
        placeholder="abc@mail.com"
        ngModel
        name="email"
        required
        #email="ngModel"
        type="email"
        pattern="^.{1,50}$"
      />
      <span
        class="help-block text-danger"
        *ngIf="!email.valid && email.touched"
      >
        Please enter a email address. (Maximum characters: 50)
      </span>
    </div>
    <br />
    <hr />
    <div>
      <h3>Demographic Information</h3>
      <label for="over18">Are you over the age of 18?</label>
      <input
        type="checkbox"
        class="custom-check-input ml-2 mr-1"
        id="over18"
        name="over18"
        ngModel
      />
      <br />
      <label for="gender">Gender</label>
      <select
        id="gender"
        class="form-control"
        [ngModel]="defaultGender"
        name="gender"
        required
        #gender="ngModel"
      >
        <option value="choose">
          Choose
        </option>
        <option>
          Male
        </option>
        <option>
          Female
        </option>
        <option>
          Other
        </option>
        <option>
          Prefer not to say
        </option>
      </select>
      <span
        class="help-block text-danger"
        *ngIf="gender.value === 'choose' && gender.touched"
      >
        Please choose an option.
      </span>

      <br />

      <label for="shirtSize">T-Shirt size: </label>
      <select
        id="shirtSize"
        class="form-control"
        [ngModel]="defaultShirtSize"
        name="shirtSize"
        required
        #shirtsize="ngModel"
      >
        <option value="choose">
          Choose
        </option>
        <option>
          XXL
        </option>
        <option>
          XL
        </option>
        <option>
          L
        </option>
        <option>
          M
        </option>
        <option>
          S
        </option>
      </select>
      <span
        class="help-block text-danger"
        *ngIf="shirtsize.value === 'choose' && shirtsize.touched"
      >
        Please choose an option.
      </span>
      <br />

      <label for="paragraph"
        >Please tell us in a paragraph (or two!) about yourself. (Maximum
        characters: 200)
      </label>
      <textarea
        id="paragraph"
        class="form-control"
        placeholder="How would you benefit us by being a volunteer? What motivated you to become a volunteer with us? (Maximum characters: 200)"
        ngModel
        name="paragraph"
        required
        #paragraph="ngModel"
      ></textarea>
      <span
        class="help-block text-danger"
        *ngIf="!paragraph.valid && paragraph.touched"
      >
        Please write a short description of yourself. (Maximum characters: 200)
      </span>
    </div>

    <br />
    <hr />
    <div>
      <h3>Emergency Contacts</h3>
      <div class="row">
        <div class="col-sm-6">
          <h5>Contact 1</h5>
          <label for="ec1Fname">First name:</label>
          <input
            type="text"
            id="ec1Fname"
            class="form-control"
            ngModel
            name="ec1Fname"
            required
            #ec1Fname="ngModel"
            pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,25}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!ec1Fname.valid && ec1Fname.touched"
          >
            Please enter a name. (Maximum characters: 25)
          </span>
          <br />
          <label for="ec1Lname">Last name:</label>
          <input
            type="text"
            id="ec1Lname"
            class="form-control"
            ngModel
            name="ec1Lname"
            required
            #ec1Lname="ngModel"
            pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,25}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!ec1Lname.valid && ec1Lname.touched"
          >
            Please enter a name. (Maximum characters:25)
          </span>
          <br />

          <label for="ec1Hphone">Home Phone:</label>
          <input
            type="text"
            id="ec1Hphone"
            class="form-control"
            ngModel
            name="ec1Hphone"
            required
            #ec1Hphone="ngModel"
            pattern="\d{3}[\-]\d{3}[\-]\d{4}"
          />
          <span
            class="help-block text-danger"
            *ngIf="!ec1Hphone.valid && ec1Hphone.touched"
          >
            Please enter a valid phone number. Make sure to add dashes! (-)
          </span>
          <br />
          <label for="ec1Cphone">Cell Phone:</label>
          <input
            type="text"
            id="ec1Cphone"
            class="form-control"
            ngModel
            name="ec1Cphone"
            required
            #ec1Cphone="ngModel"
            placeholder="XXX-XXX-XXXX"
            ngModel
            pattern="\d{3}[\-]\d{3}[\-]\d{4}"
          />
          <span
            class="help-block text-danger"
            *ngIf="!ec1Cphone.valid && ec1Cphone.touched"
          >
            Please enter a valid phone number. Make sure to add dashes! (-)
          </span>
          <br />
          <label for="ec1Email">Email address:</label>
          <input
            type="email"
            id="ec1Email"
            class="form-control"
            ngModel
            name="ec1Email"
            required
            #ec1Email="ngModel"
            type="email"
            placeholder="abc@email.com"
            pattern="^.{1,50}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!ec1Email.valid && ec1Email.touched"
          >
            Please enter a valid email. (Maximum characters: 50)
          </span>
          <br />

          <label for="ec1Relationship">Relationship:</label>
          <select
            id="ec1Relationship"
            class="form-control"
            [ngModel]="defaultec1Relationship"
            name="ec1Relationship"
            required
            #ec1Relationship="ngModel"
          >
            <option value="choose">
              Choose
            </option>
            <option>
              Boyfriend/Girlfriend
            </option>
            <option>
              Co-worker
            </option>
            <option>
              Daughter
            </option>
            <option>
              Father
            </option>
            <option>
              Friend
            </option>
            <option>
              Mother
            </option>
            <option>
              Neighbor
            </option>
            <option>
              Son
            </option>
            <option>
              Spouse
            </option>
            <option>
              Supervisor
            </option>
          </select>
          <span
            class="help-block text-danger"
            *ngIf="
              ec1Relationship.value === 'choose' && ec1Relationship.touched
            "
          >
            Please choose an option.
          </span>
        </div>
        <div class="col-sm-6">
          <h5>Contact 2</h5>
          <label for="ec2Fname">First name:</label>
          <input
            type="text"
            id="ec2Fname"
            class="form-control"
            ngModel
            name="ec2Fname"
            required
            #ec2Fname="ngModel"
            pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,25}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!ec2Fname.valid && ec2Fname.touched"
          >
            Please enter a name. (Maximum characters: 25)
          </span>
          <br />

          <label for="ec2Lname">Last name:</label>
          <input
            type="text"
            id="ec2Lname"
            class="form-control"
            ngModel
            name="ec2Lname"
            required
            #ec2Lname="ngModel"
            pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,25}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!ec2Lname.valid && ec2Lname.touched"
          >
            Please enter a name. (Maximum characters: 25)
          </span>
          <br />

          <label for="ec2Hphone">Home Phone:</label>
          <input
            type="text"
            id="ec2Hphone"
            class="form-control"
            ngModel
            name="ec2Hphone"
            required
            #ec2Hphone="ngModel"
            placeholder="XXX-XXX-XXXX"
            ngModel
            pattern="\d{3}[\-]\d{3}[\-]\d{4}"
          />
          <span
            class="help-block text-danger"
            *ngIf="!ec2Hphone.valid && ec2Hphone.touched"
          >
            Please enter a valid phone number. Make sure to add dashes! (-)
          </span>
          <br />

          <label for="ec2Cphone">Cell Phone:</label>
          <input
            type="text"
            id="ec2Cphone"
            class="form-control"
            ngModel
            name="ec2Cphone"
            required
            #ec2Cphone="ngModel"
            placeholder="XXX-XXX-XXXX"
            ngModel
            pattern="\d{3}[\-]\d{3}[\-]\d{4}"
          />
          <span
            class="help-block text-danger"
            *ngIf="!ec2Cphone.valid && ec2Cphone.touched"
          >
            Please enter a valid phone number. Make sure to add dashes! (-)
          </span>
          <br />

          <label for="ec2Email">Email address:</label>
          <input
            type="email"
            id="ec2Email"
            class="form-control"
            ngModel
            name="ec2Email"
            required
            #ec2Email="ngModel"
            type="email"
            placeholder="abc@email.com"
            pattern="^.{1,50}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!ec2Email.valid && ec2Email.touched"
          >
            Please enter a valid email. (Maximum characters: 50)
          </span>
          <br />

          <label for="ec2Relationship">Relationship:</label>
          <select
            id="ec2Relationship"
            class="form-control"
            [ngModel]="defaultec2Relationship"
            name="ec2Relationship"
            required
            #ec2Relationship="ngModel"
          >
            <option value="choose">
              Choose
            </option>
            <option>
              Boyfriend/Girlfriend
            </option>
            <option>
              Co-worker
            </option>
            <option>
              Daughter
            </option>
            <option>
              Father
            </option>
            <option>
              Friend
            </option>
            <option>
              Mother
            </option>
            <option>
              Neighbor
            </option>
            <option>
              Son
            </option>
            <option>
              Spouse
            </option>
            <option>
              Supervisor
            </option>
          </select>
          <span
            class="help-block text-danger"
            *ngIf="
              ec2Relationship.value === 'choose' && ec2Relationship.touched
            "
          >
            Please choose an option.
          </span>
        </div>
      </div>
    </div>

    <br />
    <hr />
    <div>
      <h3>References</h3>
      <div class="row">
        <div class="col-sm-6">
          <h5>Reference 1</h5>
          <label for="r1Fname">First name:</label>
          <input
            type="text"
            id="r1Fname"
            class="form-control"
            ngModel
            name="r1Fname"
            required
            #r1Fname="ngModel"
            pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,25}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!r1Fname.valid && r1Fname.touched"
          >
            Please enter a name. (Maximum characters: 25)
          </span>
          <br />

          <label for="r1Lname">Last name:</label>
          <input
            type="text"
            id="r1Lname"
            class="form-control"
            ngModel
            name="r1Lname"
            required
            #r1Lname="ngModel"
            pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,25}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!r1Lname.valid && r1Lname.touched"
          >
            Please enter a name. (Maximum characters: 25)
          </span>
          <br />

          <label for="r1Cphone">Cell Phone:</label>
          <input
            type="text"
            id="r1Cphone"
            class="form-control"
            ngModel
            name="r1Cphone"
            required
            #r1Cphone="ngModel"
            placeholder="XXX-XXX-XXXX"
            ngModel
            pattern="\d{3}[\-]\d{3}[\-]\d{4}"
          />
          <span
            class="help-block text-danger"
            *ngIf="!r1Cphone.valid && r1Cphone.touched"
          >
            Please enter a valid phone number. Make sure to add dashes! (-)
          </span>
          <br />

          <label for="r1Email">Email address:</label>
          <input
            type="email"
            id="r1Email"
            class="form-control"
            ngModel
            name="r1Email"
            required
            #r1Email="ngModel"
            type="email"
            placeholder="abc@email.com"
            pattern="^.{1,50}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!r1Email.valid && r1Email.touched"
          >
            Please enter a valid email. (Maximum characters: 50)
          </span>
        </div>
        <div class="col-sm-6">
          <h5>Reference 2</h5>
          <label for="r2Fname">First name:</label>
          <input
            type="text"
            id="r2Fname"
            class="form-control"
            ngModel
            name="r2Fname"
            required
            #r2Fname="ngModel"
            pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,25}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!r2Fname.valid && r2Fname.touched"
          >
            Please enter a name. (Maximum characters: 25)
          </span>
          <br />

          <label for="r2Lname">Last name:</label>
          <input
            type="text"
            id="r2Lname"
            class="form-control"
            ngModel
            name="r2Lname"
            required
            #r2Lname="ngModel"
            pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,25}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!r2Lname.valid && r2Lname.touched"
          >
            Please enter a name. (Maximum characters: 25)
          </span>
          <br />

          <label for="r2Cphone">Cell Phone:</label>
          <input
            type="text"
            id="r2Cphone"
            class="form-control"
            ngModel
            name="r2Cphone"
            required
            #r2Cphone="ngModel"
            placeholder="XXX-XXX-XXXX"
            ngModel
            pattern="\d{3}[\-]\d{3}[\-]\d{4}"
          />
          <span
            class="help-block text-danger"
            *ngIf="!r2Cphone.valid && r2Cphone.touched"
          >
            Please enter a valid phone number. Make sure to add dashes! (-)
          </span>
          <br />

          <label for="r2Email">Email address:</label>
          <input
            type="email"
            id="r2Email"
            class="form-control"
            ngModel
            name="r2Email"
            required
            #r2Email="ngModel"
            type="email"
            placeholder="abc@email.com"
            pattern="^.{1,50}$"
          />
          <span
            class="help-block text-danger"
            *ngIf="!r2Email.valid && r2Email.touched"
          >
            Please enter a valid email. (Maximum characters: 50)
          </span>
        </div>
      </div>
    </div>

    <br />
    <hr />
    <div>
      <h3>Email Preferences</h3>
      <p>
        We like to keep volunteers informed of important news, schedules, and
        volunteer opportunities by email. Use the checkboxes below to select the
        kinds of email you would like to receive from us.
      </p>

      <label>Volunteer Week letter allowed?</label>
      <input
        type="checkbox"
        class="custom-check-input ml-2 mr-1"
        id="weekLetter"
        name="weekLetter"
        value="weekLetters"
        #weekLetter="ngModel"
        ngModel
        (click)="nlToggle()"
      />
      <br />

      <ng-container *ngIf="nlVisible">
        <hr />

        <label>If yes, What kinds of email would you like to receive?</label>
        <br />
        <input
          type="checkbox"
          class="custom-check-input ml-2 mr-1"
          id="eNewsletters"
          name="eNewsLetters"
          value="Electric Newsletters"
          ngModel
        />Electric newletters
        <br />
        <input
          type="checkbox"
          class="custom-check-input ml-2 mr-1"
          id="recAppeals"
          name="recAppeals"
          value="Recruitment Appeals"
          ngModel
        />Recruitment appeals
        <br />
        <input
          type="checkbox"
          class="custom-check-input ml-2 mr-1"
          id="schedReminders"
          name="schedReminders"
          value="Schedule Reminders"
          ngModel
        />Schedule reminders
      </ng-container>
    </div>

    <br />
    <hr />

    <h3>Agreement</h3>
    <p>
      By submitting this form, you agree to all conditions set forth in the
      Calgary Animal Rescue Society (CARS) Volunteer Agreement, Waiver, Code of
      Conduct, Confidentially Agreement, and Social Media Policy. The conditions
      of each can be viewed
      <a
        href="https://drive.google.com/file/d/1AVqRerM-LY0LFtRX-RGD-i4WMb9pM0Cb/view?usp=sharing"
        >here</a
      >
    </p>

    <br />
    <div class="form-group-row">
      <input
        type="checkbox"
        class="custom-check-input ml-2 mr-1"
        id="agreementCheck"
        name="agreementCheck"
        value="I Agree"
        ngModel
        required
      />I Agree

      <button
        class="btn btn-primary ml-2"
        data-toggle="modal"
        data-target="#submissionModal"
      >
        Submit
      </button>
    </div>

    <!-- MODAL -->
    <div class="modal" id="submissionModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- If form is valid -->
          <div *ngIf="validForm">
            <div class="modal-header">
              <h5 class="modal-title">Form Submitted!</h5>
              <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              Thank you for taking your time to fill up this form! Your
              submission has successfully been sent, we hope to see you soon!
            </div>
            <div class="modal-footer">
              <!-- <button
                class="btn btn-outline-secondary"
                data-dismiss="modal"
                (click)="reset()"
              >
                Fill another Application
              </button> -->
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="onOkClick()"
              >
                Back to Home Page
              </button>
            </div>
          </div>

          <!-- If form is invalid -->
          <div *ngIf="!validForm">
            <div class="modal-header">
              <h5 class="modal-title">Oops! Something went wrong.</h5>
              <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              Please make sure to fill out every required field.<br />
              Make sure your self description is under 200 characters.<br />
              Try restarting the form if you continue to receive this message OR
              contact us.
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" data-dismiss="modal">
                Back to form
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="btn" data-aos="fade-in-out" data-aos-easing="ease-in-quad">
  <a (click)="onScroll()" id="button-top"
    ><i class="fa fa-angle-double-up"></i
  ></a>
</div>
