<div class="container center-block">
  <!-- header row -->
  <div class="row">
    <div class="offset-2 col text-center">
      <h3>HEADER</h3>
    </div>
    <div class="col-2">
      <button class="btn btn-primary">Edit</button>
    </div>
  </div>
  <!-- body row -->
  <div class="row">
    <!-- left column -->
    <div class="col-4">
      <!-- img row -->
      <div class="row">
        <img src="https://source.unsplash.com/random/300x300" alt="" style="width: 200px; height: 200px;">
      </div>
      <!-- left column header -->
      <div class="row">
        <h4>Details</h4>
      </div>
      <!-- volunteer id -->
      <div class="row">
        <label>ID:&nbsp;</label>
        <p>123456789</p>
      </div>
      <!-- first name -->
      <div class="row">
        <label>First Name:&nbsp;</label>
        <p>Albert</p>
      </div>
      <!-- last name -->
      <div class="row">
        <label>Last Name:&nbsp;</label>
        <p>Arrieta</p>
      </div>
      <!-- age -->
      <div class="row">
        <label>Age:&nbsp;</label>
        <p>19</p>
      </div>
      <!-- gender -->
      <div class="row">
        <label>Gender:&nbsp;</label>
        <p>Male</p>
      </div>
      <!-- street -->
      <div class="row">
        <label>Street:&nbsp;</label>
        <p>123 Easy St</p>
      </div>
      <!-- postalcode -->
      <div class="row">
        <label>Postal Code:&nbsp;</label>
        <p>T5G-4G5</p>
      </div>
      <!-- flags -->
      <div class="row">
        <label>Flags:</label>
      </div>
      <div class="row">
        <textarea name="flags" id="flagInput" cols="30" rows="3"></textarea>
      </div>
    </div>
    <!-- right column -->
    <div class="col">
      <!-- volunteer name -->
      <div class="row">
        <h3>Albert Arrieta</h3>
      </div>
      <!-- right column header -->
      <div class="row">
        <h4>Presonal Information</h4>
      </div>
      <!-- cellphone -->
      <div class="row">
        <label>Cellphone:&nbsp;</label>
        <p>555-555-5555</p>
      </div>
      <!-- workphone -->
      <div class="row">
        <label>Workphone:&nbsp;</label>
        <p>555-555-5555</p>
      </div>
      <!-- homephone -->
      <div class="row">
        <label>Homephone:&nbsp;</label>
        <p>555-555-5555</p>
      </div>
      <!-- email -->
      <div class="row">
        <label>Email:&nbsp;</label>
        <p>abc@mail.com</p>
      </div>
      <!-- description -->
      <div class="row">
        <label>Description:</label>
      </div>
      <div class="row">
        <textarea name="description" id="descInput" cols="30" rows="3"></textarea>
      </div>
      <!-- notes -->
      <div class="row">
        <label>Notes:</label>
      </div>
      <div class="row">
        <textarea name="notes" id="notesInput" cols="30" rows="3"></textarea>
      </div>
    </div>
  </div>
</div>
