<div class="FooterSection">
  <div class="container-fluid">
    <div class="row footer">
      <div class="col-lg-3 col-md-6 col-sm-12 items">
        <h3 class="footerTitle">Connect With Us</h3>
        <hr style="background-color: white;" />

        <div class="list">
          <ul>
            <a
              target="blank"
              href="https://www.google.com/maps/place/Calgary+Animal+Rescue+Society/@51.0751693,-113.988839,15z/data=!4m5!3m4!1s0x0:0x9689e78ef93e3610!8m2!3d51.0744413!4d-113.98429"
            >
              <li>
                <span><i class="fa fa-location-arrow"></i></span
                ><strong>P.O. Box</strong>
              </li>
              <p class="mt-0">Box 57089 Sunridge RPO, Calgary, AB T1Y 6R4</p>
            </a>
            <a href="mailto: info@calgaryanimalrescue.com">
              <li>
                <span><i class="fa fa-envelope"></i></span
                ><strong>Have any questions?</strong>
              </li>
              <p class="mt-1">info@calgaryanimalrescue.com</p>
            </a>
            <a href="tel: 4038160759">
              <li>
                <span><i class="fa fa-phone"></i></span><strong>Phone</strong>
              </li>
              <p class="mt-1">(403) 816-0759</p>
            </a>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 items hiddenItem">
        <h3 class="footerTitle">Quick Links</h3>
        <hr style="background-color: white;" />
        <ul class="mt-3">
          <li>
            <span><i class="fa fa-link"></i></span>
            <a target="blank" [routerLink]="['/volunteer-application']"
              >Become a volunteer</a
            >
          </li>
          <li>
            <span><i class="fa fa-link"></i></span>
            <a target="blank" [routerLink]="['/foster-application']"
              >Foster application</a
            >
          </li>
          <li>
            <span><i class="fa fa-link"></i></span>
            <a target="blank" [routerLink]="['/dog-application']"
              >Dog adoption application</a
            >
          </li>
          <li>
            <span><i class="fa fa-link"></i></span>
            <a target="blank" [routerLink]="['/cat-application']"
              >Cat adoption application</a
            >
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 items hiddenItem">
        <h3 class="footerTitle">About Us</h3>
        <hr style="background-color: white;" />
        <p class="text-justify ml-0 mt-3">
          Calgary Animal Rescue Society is located in Calgary, Alberta, and
          helps neglected, abused, stray and domestic animals find loving and
          permanent homes. We do just what our name says we do: We RESCUE.
        </p>
        <div class="socialMediaIcon">
          <a
            target="blank"
            href="https://www.facebook.com/pg/CalgaryAnimalRescueSociety/about/?ref=page_internal"
          >
            <i id="fb" class="fa fa-facebook" aria-hidden="true"></i>
          </a>

          <a
            target="blank"
            href="https://www.instagram.com/calgaryanimalrescue/"
          >
            <i id="insta" class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 items hiddenItem">
        <h3 class="footerTitle">Facebook</h3>
        <hr style="background-color: white;" />
        <div
          class="fb-page mt-2"
          data-href="https://www.facebook.com/CalgaryAnimalRescueSociety/"
          data-tabs="timeline"
          data-width="290"
          data-height="200"
          data-small-header="false"
          data-adapt-container-width="true"
          data-hide-cover="false"
          data-show-facepile="true"
        >
          <blockquote
            cite="https://www.facebook.com/CalgaryAnimalRescueSociety/"
            class="fb-xfbml-parse-ignore"
          >
            <a href="https://www.facebook.com/CalgaryAnimalRescueSociety/"
              >Calgary Animal Rescue Society</a
            >
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="copyRight px-2">
    <p style="text-align: center;">
      &copy; {{currentDate | date: 'yyyy' }} Calgary Animal Rescue Society | Designed and developed by <a 
          class="hand" (click)="onOkClick()">
      volunteers <i class="fa fa-heart-o" aria-hidden="true"></i></a>
    </p>
  </div>
</div>
