<div class="tableContainer" style="height: 1080px;">
  <div class="container">
    <h1 style="color: #ce0e2d;" data-aos="fade-right">
      Rejected Cat Applications
    </h1>
    <div class="mb-5 mt-3">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Archived</a> -->
          <a class="nav-link" routerLink="/admin/cat" routerLinkActive="active">
            Pending Applications
          </a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Archived</a> -->
          <a
            class="nav-link"
            routerLink="/admin/acceptedCat"
            routerLinkActive="active"
          >
            Accepted Applications
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color: red;"
            >Rejected Applications
          </a>
        </li>
      </ul>
    </div>
    <ng-container *ngIf="this.isLoading">
      <div class="row justify-content-center mb-5" style="height: 1080px;">
        <div class="spinner-border text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!this.isLoading && this.pendingCatArray.length === 0">
      <div
        class="row justify-content-center noItems mb-5"
        style="height: 1080px;"
      >
        <h3>No rejected applications to display!</h3>
      </div>
    </ng-container>

    <ng-container *ngIf="!this.isLoading && this.pendingCatArray.length > 0">
      <div class="input-group mb-3" data-aos="fade-in-out">
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Search..."
          type="text"
          class="form-control"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2"
            ><i class="fa fa-search" aria-hidden="true"></i
          ></span>
        </div>
      </div>
    </ng-container>

    <div data-aos="fade-in-out">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 mt-3"
        matSort
        width="100%"
        [ngStyle]="{
          display: this.pendingCatArray.length > 0 ? '' : 'none'
        }"
      >
        <ng-container matColumnDef="nameOfCat">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Cat name
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.nameOfCat == ''" style="color: red;">
              <em>*Cat is not named*</em>
            </div>
            <div *ngIf="element.nameOfCat != ''">{{ element.nameOfCat }}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="submissionDate">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Submission date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.submissionDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="applicant">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Applicant's name
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.fname + " " + element.lname }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Email
          </th>
          <td mat-cell *matCellDef="let element">{{ element?.email }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef class="th">Phone</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.cellPhone }}
          </td></ng-container
        >

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Address
          </th>
          <td mat-cell *matCellDef="let element">
            {{
              element?.address + ", " + element?.city + ", " + element?.province
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rejectedReason">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Rejection Reason
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.rejectionReason }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rejected">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Reject (for testing only)
          </th>
          <td mat-cell *matCellDef="let element">{{ element?.rejected }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="tableRow"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="getRecord(row.id)"
          data-toggle="modal"
          data-target="#modalCatInfo"
          style="cursor: pointer;"
        ></tr>
      </table>
    </div>
    <mat-paginator
      [pageSizeOptions]="[20, 40, 60, 80]"
      showFirstLastButtons
      [ngStyle]="{
        display: this.pendingCatArray.length > 0 ? '' : 'none'
      }"
    ></mat-paginator>

    <!-- POPUP MODAL FOR CAT INFO  -->
    <div
      class="modal fade"
      id="modalCatInfo"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalCatInfo"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-content">
            <div
              class="modal-header"
              style="background-color: #ce0e2d; color: white;"
            >
              <h5 class="modal-title" id="exampleModalLongTitle">
                Cat Adoption Application
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <div style="text-align: left;">
                    <h4 class="title">Application Information</h4>
                    <hr />
                    <div class="row">
                      <div class="col-lg-6">
                        <p>
                          <strong>Name of cat: </strong>
                          {{ application?.nameOfCat }}
                        </p>
                        <p>
                          <strong>Applicant's name: </strong>
                          {{ application?.fname + " " + application?.lname }}
                        </p>
                        <p><strong>Age: </strong>{{ application?.age }}</p>
                      </div>
                      <div class="col-lg-6">
                        <p>
                          <strong>Cell Phone: </strong
                          >{{ application?.cellPhone }}
                        </p>
                        <p>
                          <strong>Home Phone: </strong
                          >{{ application?.homePhone }}
                        </p>
                        <p><strong>Email: </strong>{{ application?.email }}</p>
                      </div>
                      <div class="col-12">
                        <p>
                          <strong>Address: </strong>
                          {{
                            application?.address +
                              " " +
                              application?.city +
                              ", " +
                              application?.province +
                              ", " +
                              application?.postalCode
                          }}
                        </p>
                      </div>
                    </div>

                    <hr />
                    <h4 class="title">Family and Lifestyle</h4>
                    <hr />
                    <p>
                      <strong>Who are you adopting this cat for? </strong>
                      {{ application?.personCatIsFor }}
                    </p>
                    <p>
                      <strong
                        >Are all members of your household in agreement with
                        this adoption?
                      </strong>
                      <span
                        [ngStyle]="{
                          display: !application?.householdAgreement
                            ? 'none'
                            : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.householdAgreement
                            ? 'none'
                            : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>

                    <p>
                      <strong
                        >Have all members of your household been introduced to
                        the cat?
                      </strong>
                      <span
                        [ngStyle]="{
                          display: !application?.membersIntroduced
                            ? 'none'
                            : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.membersIntroduced
                            ? 'none'
                            : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>
                    <p>
                      <strong
                        >Does anyone in your home have allergies to cats or have
                        asthma?
                      </strong>
                      <span
                        [ngStyle]="{
                          display: !application?.catAllergies
                            ? 'none'
                            : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.catAllergies ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>
                    <p>
                      <strong>How many adults are in your household? </strong
                      >{{ application?.howManyAdults }}
                    </p>
                    <p>
                      <strong>If children, what are their ages? </strong
                      >{{ application?.childrenAges }}
                    </p>
                    <p>
                      <strong
                        >Have your children been taught the correct way to
                        handle a cat? Please explain: </strong
                      >{{ application?.childrenCatHandling }}
                    </p>
                    <p>
                      <strong
                        >Do you have children that regularly visit your home?
                      </strong>
                      <span
                        [ngStyle]="{
                          display: !application?.childrenVisiting
                            ? 'none'
                            : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.childrenVisiting
                            ? 'none'
                            : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>
                    <p>
                      <strong>How often do they visit? </strong>
                      {{ application?.visitingFrequency }}
                    </p>
                    <p>
                      <strong
                        >How have you prepared your children to respect the
                        dogʼs boundaries, observe its reactions, and avoid
                        bites? Explain:
                      </strong>
                      {{ application?.childrenPrepared }}
                    </p>
                    <p>
                      <strong>How busy is your family? </strong>
                      {{ application?.familyBusy }}
                    </p>
                    <p>
                      <strong>How active is your family? </strong>
                      {{ application?.familyActive }}
                    </p>
                    <p>
                      <strong>How regular is your schedule? </strong>
                      {{ application?.scheduleRegularity }}
                    </p>
                    <p>
                      <strong
                        >How would you describe your family’s personality?
                      </strong>
                      {{ application?.familyPersonality }}
                    </p>
                    <p>
                      <strong
                        >Are you planning any of the following in the next two
                        months?
                      </strong>
                      {{ application?.familyPlans }}
                    </p>

                    <hr />
                    <h4 class="title">Your Home</h4>
                    <hr />
                    <p>
                      <strong>What type of home do you live in? </strong>
                      {{ application?.typeOfResidence }}
                    </p>
                    <p>
                      <strong>Do you own or rent? </strong>
                      <span *ngIf="application?.own">
                        Own
                      </span>
                      <span *ngIf="!application?.own">
                        Rent
                      </span>
                    </p>
                    <p>
                      <strong
                        >If rent, provide name and phone number of landlord:
                      </strong>
                      {{ application?.landlordContact }}
                    </p>
                    <p>
                      <strong>Does your landlord allow cats? </strong>
                      <span
                        [ngStyle]="{
                          display: !application?.catsAllowed ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.catsAllowed ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>
                    <p>
                      <strong
                        >Are there any restrictions from your landlord or
                        subdivision?
                      </strong>
                      {{ application?.restrictions }}
                    </p>
                    <p>
                      <strong
                        >What outdoor areas would your cat have access to?
                      </strong>
                      {{ application?.outdoorAreas }}
                    </p>
                    <p>
                      <strong>How busy is your Street? </strong>
                      {{ application?.typeOfStreet }}
                    </p>
                    <p>
                      <strong>Where will your cat live? </strong>
                      {{ application?.catHome }}
                    </p>
                    <p>
                      <strong
                        >What will happen if your living situation changes and
                        you canʼt take your cat to your new home? If your
                        landlord or condo board reverses their decision to allow
                        pets?
                      </strong>
                      {{ application?.livingSituationChanges }}
                    </p>

                    <h4 class="title">Current/Previous Pets</h4>
                    <hr />
                    <p>
                      <strong>Is there any cats that live with you now?</strong>
                      <span
                        [ngStyle]="{
                          display: !application?.otherCats ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.otherCats ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>
                    <p>
                      <strong>If yes, how many and how old are they?</strong>
                      {{ application?.catsInfo }}
                    </p>
                    <p>
                      <strong>How are your cats towards other cats? </strong>
                      {{ application?.catsAttitude }}
                    </p>
                    <p>
                      <strong>Do you have other pets?</strong>
                      <span
                        [ngStyle]="{
                          display: !application?.otherPets ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.otherPets ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>
                    <p>
                      <strong>If yes, what are they?</strong>
                      {{ application?.otherPetsInfo }}
                    </p>
                    <p>
                      <strong
                        >How many of these pets are spayed/neutered?</strong
                      >
                      {{ application?.spayedAndNeutered }}
                    </p>
                    <p>
                      <strong>Where are these animals now?</strong>
                      {{ application?.petLocation }}
                    </p>
                    <p>
                      <strong
                        >Have you adopted from an animal rescue group
                        before?</strong
                      >
                      <span
                        [ngStyle]="{
                          display: !application?.priorAdoption
                            ? 'none'
                            : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.priorAdoption
                            ? 'none'
                            : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>
                    <p>
                      <strong>If yes, what group?</strong>
                      {{ application?.groupName }}
                    </p>

                    <p>
                      <strong
                        >Have you ever surrendered a pet to a humane society or
                        rescue?
                      </strong>
                      {{ application?.surrenderedPet }}
                    </p>
                    <p>
                      <strong>If yes, what were the circumstances?</strong>
                      {{ application?.circumstances }}
                    </p>
                    <p>
                      <strong
                        >Please provide the name and phone number of your
                        current and/or previous veterinarian or clinic:</strong
                      >
                      {{ application?.vetInfo }}
                    </p>

                    <hr />
                    <h4 class="title">New Pet Information</h4>
                    <hr />
                    <p>
                      <strong
                        >Why do you want this rescue cat and what are your
                        expectations?</strong
                      >
                      {{ application?.expectations }}
                    </p>
                    <p>
                      <strong
                        >What is the main purpose of adopting this cat?</strong
                      >
                      {{ application?.purpose }}
                    </p>
                    <p>
                      <strong>Who will be the catʼs primary caretaker?</strong>
                      {{ application?.primaryCaretaker }}
                    </p>

                    <p>
                      <strong>Have you had cats before?</strong>
                      <span
                        [ngStyle]="{
                          display: !application?.hadCats ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.hadCats ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>

                    <p>
                      <strong
                        >Where will your cat stay when your family goes on
                        vacation?</strong
                      >
                      {{ application?.vacationHome }}
                    </p>

                    <p>
                      <strong
                        >How long, on average, will your cat be left alone each
                        day during the week?
                      </strong>
                      {{ application?.leftAloneWeekday }}
                    </p>

                    <p>
                      <strong
                        >How long, on average, will your cat be left alone each
                        day during the weekend?
                      </strong>
                      {{ application?.leftAloneWeekend }}
                    </p>

                    <p>
                      <strong
                        >How much Daily exercise can you give your cat?
                      </strong>
                      {{ application?.dailyExercise }}
                    </p>

                    <p>
                      <strong
                        >What length of time will you allow your new pet to
                        adjust to his new home?
                      </strong>
                      {{ application?.petAdjustment }}
                    </p>

                    <h4 class="title">
                      How much do you expect to spend monthly?
                    </h4>
                    <hr />
                    <div class="row">
                      <div class="col-lg-6">
                        <p>
                          <strong>Food expenses: </strong>
                          {{ application?.foodExpenses }}
                        </p>
                        <p>
                          <strong>Veterinarian expenses: </strong>
                          {{ application?.vetExpenses }}
                        </p>
                      </div>
                      <div class="col-lg-6">
                        <p>
                          <strong>Grooming expenses: </strong>
                          {{ application?.groomingExpenses }}
                        </p>
                        <p>
                          <strong>Boarding expenses: </strong>
                          {{ application?.boardingExpenses }}
                        </p>
                      </div>
                    </div>
                    <hr />

                    <h4 class="title">Desired Physical Characteristics</h4>
                    <hr />
                    <div class="row">
                      <div class="col-lg-6">
                        <p>
                          <strong>Gender: </strong>
                          {{ application?.gender }}
                        </p>
                        <p>
                          <strong>Coat: </strong>
                          {{ application?.typeOfCoat }}
                        </p>
                      </div>
                      <div class="col-lg-6">
                        <p>
                          <strong>Age: </strong>
                          {{ application?.catAge }}
                        </p>
                        <p>
                          <strong>Breed/type/color?</strong>
                          {{ application?.breedTypeColour }}
                        </p>
                      </div>
                    </div>
                    <hr />

                    <p>
                      <strong>Age</strong>
                      {{ application?.catAge }}
                    </p>

                    <p>
                      <strong>Breed/type/colour?</strong>
                      {{ application?.breedTypeColour }}
                    </p>

                    <h4 class="title">I would like my new cat to:</h4>
                    <hr />
                    <p>
                      <em><strong>V</strong>: Very important </em>
                      <em><strong>S</strong>: Somewhat important </em>
                      <em><strong>N</strong>: Not important</em>
                    </p>

                    <div class="row">
                      <div class="col-lg-6">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col"></th>
                              <th scope="col">Importance</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Be friendly with children</td>
                              <td>{{ application?.friendlyWithChildren }}</td>
                            </tr>
                            <tr>
                              <td>Be friendly with other dogs</td>
                              <td>{{ application?.friendlyWithDogs }}</td>
                            </tr>
                            <tr>
                              <td>Be friendly with cats</td>
                              <td>{{ application?.friendlyWithCats }}</td>
                            </tr>
                            <tr>
                              <td>Be friendly with me</td>
                              <td>{{ application?.friendlyWithMe }}</td>
                            </tr>
                            <tr>
                              <td>Be friendly with visitors to the house</td>
                              <td>{{ application?.friendlyWithVisitors }}</td>
                            </tr>
                            <tr>
                              <td>Enjoy being groomed</td>
                              <td>{{ application?.enjoyBeingGroomed }}</td>
                            </tr>
                            <tr>
                              <td>Enjoy being held</td>
                              <td>{{ application?.enjoyBeingHeld }}</td>
                            </tr>
                            <tr>
                              <td>Enjoy being petted</td>
                              <td>{{ application?.enjoyBeingPetted }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-lg-6">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col"></th>
                              <th scope="col">Importance</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Be calm</td>
                              <td>{{ application?.beCalm }}</td>
                            </tr>
                            <tr>
                              <td>Be active</td>
                              <td>{{ application?.beActive }}</td>
                            </tr>
                            <tr>
                              <td>Be playful</td>
                              <td>{{ application?.bePlayful }}</td>
                            </tr>
                            <tr>
                              <td>Be quiet</td>
                              <td>{{ application?.beQuiet }}</td>
                            </tr>
                            <tr>
                              <td>Be independent</td>
                              <td>{{ application?.beIndependent }}</td>
                            </tr>
                            <tr>
                              <td>Never wake me up at night</td>
                              <td>{{ application?.wakeMeUpAtNight }}</td>
                            </tr>
                            <tr>
                              <td>Never show aggressive behavior</td>
                              <td>{{ application?.aggressiveBehaviour }}</td>
                            </tr>
                            <tr>
                              <td>Be protective</td>
                              <td>{{ application?.beProtective }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <hr />
                    <h4 class="title">Most of our dogs require training</h4>
                    <p>
                      <em><strong>Y</strong>: Yes </em>
                      <em><strong>N</strong>: No </em>
                    </p>
                    <hr />
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Decisions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>I need a cat that is already house trained</td>
                          <td>{{ application?.litterTrained }}</td>
                        </tr>
                        <tr>
                          <td>I need a cat that is already declawed</td>
                          <td>{{ application?.declawed }}</td>
                        </tr>
                        <tr>
                          <td>I am a first time owner</td>
                          <td>{{ application?.firstTimeOwner }}</td>
                        </tr>
                        <tr>
                          <td>
                            I have lots of experience and could handle a
                            difficult cat
                          </td>
                          <td>{{ application?.handleDifficultCat }}</td>
                        </tr>
                      </tbody>
                    </table>

                    <p>
                      <strong
                        >Depending on the age of the cat you are considering for
                        adoption, additional vaccine boosters may be required
                        after adoption (in addition to yearly boosters). Are you
                        prepared to accept the financial obligation for vaccine
                        boosters and ensure that they are done on schedule?
                      </strong>
                      <span
                        [ngStyle]="{
                          display: !application?.medical ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.medical ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>

                    <p>
                      <strong
                        >For kittens, will you prevent disease transmission by
                        limiting you kitten's exposure to othe cats (no
                        playdates, outdoor time etc.) until the 3rd set of
                        vaccines?
                      </strong>
                      <span
                        [ngStyle]="{
                          display: !application?.kittenHandling
                            ? 'none'
                            : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.kittenHandling
                            ? 'none'
                            : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>

                    <p>
                      <strong
                        >How will you manage your cats's nail care?</strong
                      >
                      {{ application?.nailCare }}
                    </p>

                    <p>
                      <strong
                        >What would you consider to be a behavioural issue that
                        you cannot or will not be willing to work with?
                      </strong>
                      {{ application?.behaviouralIssue }}
                    </p>

                    <p>
                      <strong>Will you have tthe cat declaws? </strong>
                      <span
                        [ngStyle]="{
                          display: !application?.declaw ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.declaw ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>

                    <p>
                      <strong
                        >Your new cat may have come from a traumatic past, will
                        be leaving the comfort of their foster home, and
                        possibly leaving litter mates, and may be very scared
                        and unsure for the first couple of days. How do the
                        members of your family plan to make this transition as
                        easy as possible?
                      </strong>
                      {{ application?.catPast }}
                    </p>

                    <p>
                      <strong
                        >Are you considering purchasing pet insurance for your
                        cat?
                      </strong>
                      <span
                        [ngStyle]="{
                          display: !application?.insurance ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span
                        [ngStyle]="{
                          display: application?.insurance ? 'none' : 'inline'
                        }"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </p>

                    <p>
                      <strong
                        >What circumstances would lead you to give up your new
                        cat?
                      </strong>
                      {{ application?.giveUpCircumstances }}
                    </p>
                    <p>
                      <strong
                        >If you had to give up your cat, what would you do with
                        him/her?
                      </strong>
                      {{ application?.explainGiveUp }}
                    </p>
                    <p>
                      <strong
                        >Please give us any other information that might be
                        import to help us make a better match:
                      </strong>
                      {{ application?.additionalInfo }}
                    </p>

                    <h4 class="title">References:</h4>
                    <hr />
                    <div
                      class="row"
                      style="display: flex; justify-content: space-evenly;"
                    >
                      <div
                        class="col-lg-4 referenceContainer m-2"
                        style="text-align: center;"
                      >
                        <p>
                          <strong>1st Reference name: </strong>
                          {{
                            application?.ref1_fname +
                              " " +
                              application?.ref1_lname
                          }}
                        </p>
                        <p>
                          <strong>Relationship: </strong>
                          {{ application?.ref1_relationship }}
                        </p>
                        <p>
                          <strong>Phone: </strong>
                          {{ application?.ref1_phoneNumber }}
                        </p>
                        <p>
                          <strong>Email: </strong>
                          {{ application?.ref1_email }}
                        </p>
                      </div>
                      <div
                        class="col-lg-4 referenceContainer m-2"
                        style="text-align: center;"
                      >
                        <p>
                          <strong>2nd Reference name: </strong>
                          {{
                            application?.ref2_fname +
                              " " +
                              application?.ref2_lname
                          }}
                        </p>
                        <p>
                          <strong>Relationship: </strong>
                          {{ application?.ref2_relationship }}
                        </p>
                        <p>
                          <strong>Phone: </strong>
                          {{ application?.ref2_phoneNumber }}
                        </p>
                        <p>
                          <strong>Email: </strong>
                          {{ application?.ref2_email }}
                        </p>
                      </div>
                    </div>
                    <p>
                      <strong>How did you find out about this animal?</strong>
                      {{ application?.findOutAbout }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-danger"
                data-dismiss="modal"
                data-dismiss="modal"
                data-target="#confirmDelete"
                data-toggle="modal"
              >
                Delete Application
              </button>

              <button
                type="button"
                class="btn btn-outline-secondary"
                data-dismiss="modal"
                style="float: right;"
              >
                Close
              </button>

              <button
                type="button"
                class="btn btn-outline-success"
                data-dismiss="modal"
                style="float: right;"
                (click)="markPendingApplication(applicationID)"
              >
                Mark as pending
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- confirm delete  -->
    <div
      class="modal fade"
      id="confirmDelete"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Confirm Delete
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ml-2" style="padding: 4% 0px;">
            Are you sure you want to permanently delete
            <span style="color: orangered;"
              >{{ application?.fname + " " + application?.lname }}'s application
            </span>
            ?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-danger"
              data-dismiss="modal"
              (click)="deleteApplication()"
            >
              Delete
            </button>

            <button
              type="button"
              class="btn btn-outline-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
