<div class="container py-5 mb-5">
  <div class="row justify-content-center">
    <img
      id="logo"
      src="../../../assets/cars-logo.png"
      alt="Calgary Animal Rescue Society"
    />
  </div>
  <div id="f1" class="row justify-content-center">
    <div class="col-sm-10 text-center">
      <h1 class="text-info mb-5">Page not found.</h1>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-sm-10 text-center">
      <h5>
        Our apologies, this is almost certainly not the page you were looking
        for.
      </h5>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-sm-10 text-center">
      <h5>
        Please visit our
        <u type="button" (click)="onOkClick()" class="text-info">main page</u>.
      </h5>
    </div>
  </div>
</div>

<app-footer></app-footer>
