#navlogo{
    height: 60px;
  }

.navbar {
background-color: #cd0d2e;
color: #ecebf3;
width: 100%;
}

.container{
    max-width: 1800px !important;
}

.nav-item a:hover {
    color: #dbc2c2;
    cursor: pointer;
}

.nav-item {
    font-weight: bold;
}

.dropdown-item.active{
    background-color: white !important;
    color: black !important;
}

a.nav-link.dropdown-item{
    color: black !important;
}

a.nav-link.dropdown-item:hover{
    background-color: #cd0d2e !important;
    color: #ecebf3 !important;
}

a{
    color: #ecebf3;
}

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
    display: block;
}

.dropdown-menu{
    margin-top: 0;
}

.dropdown-toggle{
    margin-bottom: 2px;
}

.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
    margin-bottom: 0;
}

