<div class="sticky-top" data-aos="fade-down">
  <nav class="navbar nav navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand ml-5 pt-1">
        <img
          id="navlogo"
          src="../../../assets/cars-site-logo1.png"
          alt="Calgary Animal Rescue Society"
        />
      </a>

      <a href="https://www.facebook.com/CalgaryAnimalRescueSociety/"
        ><i class="fa fa-2x fa-facebook-square ml-2 mr-2 social-icon"></i
      ></a>
      <a href="https://www.instagram.com/calgaryanimalrescue/"
        ><i class="fa fa-2x fa-instagram ml-2 mr-2 social-icon"></i
      ></a>

      <button class="sm-white-outline-btn btn shadow ml-2">
        Donate
      </button>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#carsNav"
      >
        <span class="navbar-toggler-icon" id="navbarToggler"></span>
      </button>

      <div class="collapse navbar-collapse" id="carsNav">
        <ul class="navbar-nav ml-auto mr-5">
          <li class="nav-item">
            <a
              class="nav-link hvr-underline-from-center"
              routerLink="home"
              routerLinkActive="active"
            >
              About Us
            </a>
          </li>

          <li class="nav-item hvr-underline-from-center">
            <a class="nav-link" routerLink="contact-us" routerLinkActive="">
              Contact Us
            </a>
          </li>

          <li class="dropdown nav-item">
            <a
              class="nav-link"
              (click)="onAdoptionTurn()"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <ng-container
                *ngIf="adoptionTurn$ | async; else AdoptionTurnback"
              >
                Animals for Adoption⯅</ng-container
              >
              <ng-template #AdoptionTurnback>Animals for Adoption⯆</ng-template>
            </a>
            <div class="dropdown-menu">
              <a
                class="nav-link dropdown-item"
                routerLink="our-animals"
                routerLinkActive="active"
                >See our Animals
              </a>

              <a
                class="nav-link dropdown-item"
                routerLink="../dog-application"
                routerLinkActive="active"
                >Dog Adoption Form
              </a>

              <a
                class="nav-link dropdown-item"
                routerLink="../cat-application"
                routerLinkActive="active"
                >Cat Adoption Form
              </a>
            </div>
          </li>

          <li class="dropdown nav-item">
            <a
              class="nav-link"
              (click)="onInvolvedTurn()"
              data-toggle="dropdown"
            >
              <ng-container *ngIf="involvedTurn$ | async; else InvolvedTurnback"
                >Get Involved⯅</ng-container
              >

              <ng-template #InvolvedTurnback>Get Involved⯆</ng-template>
            </a>
            <div class="dropdown-menu">
              <a
                class="nav-link dropdown-item"
                routerLink="volunteer"
                routerLinkActive="active"
                >Volunteer
              </a>

              <a
                class="nav-link dropdown-item"
                routerLink="foster"
                routerLinkActive="active"
                >Foster
              </a>

              <a
                class="nav-link dropdown-item"
                routerLink="donate"
                routerLinkActive="active"
                >Donate Funds & Supplies
              </a>
            </div>
          </li>

          <li class="dropdown nav-item">
            <a class="nav-link" (click)="onMoreTurn()" data-toggle="dropdown">
              <ng-container *ngIf="moreTurn$ | async; else MoreTurnback"
                >More⯅</ng-container
              >
              <ng-template #MoreTurnback>More⯆</ng-template>
            </a>

            <div class="dropdown-menu">
              <a
                class="nav-link dropdown-item"
                routerLink="faq"
                routerLinkActive="active"
                >FAQ
              </a>

              <a
                class="nav-link dropdown-item"
                routerLink="events"
                routerLinkActive="active"
                >Upcoming Events
              </a>

              <a
                class="nav-link dropdown-item"
                routerLink="partners"
                routerLinkActive="active"
                >Our Partners
              </a>

              <a
                class="nav-link dropdown-item"
                routerLink="happy-tails"
                routerLinkActive="active"
                >Happy Tails
              </a>

              <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >The Rainbow Bridge page?
              </a>

              <a
                class="nav-link dropdown-item"
                routerLink="goptek"
                routerLinkActive="active"
                >Goptek
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link hvr-underline-from-center"
              routerLink="/login"
              routerLinkActive="active"
            >
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
