<div class="container">
  <label for="">I would like my new cat to:</label>
  <div class="row">
    <form [formGroup]="formGroup">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="text-center">How Impotant?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Be friendly with children</th>
              <td>
                <mat-radio-group formControlName="friendlyWithChildren">
                  <mat-radio-button value="Very important">Very Important</mat-radio-button>
                  <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                  <mat-radio-button value="No important">No Important</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>

            <tr>
              <th scope="row">Be friendly with other dogs</th>
              <td>
                <mat-radio-group formControlName="friendlyWithDogs">
                  <mat-radio-button value="Very important">Very Important</mat-radio-button>
                  <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                  <mat-radio-button value="No important">No Important</mat-radio-button>
                </mat-radio-group>
              </td>

            <tr>
              <th scope="row">Be friendly with cats</th>
              <td>
                <mat-radio-group formControlName="friendlyWithCats">
                  <mat-radio-button value="Very important">Very Important</mat-radio-button>
                  <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                  <mat-radio-button value="No important">No Important</mat-radio-button>
                </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Be friendly with me</th>
              <mat-radio-group formControlName="friendlyWithMe">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Be friendly with visitors to the house</th>
              <mat-radio-group formControlName="friendlyWithVisitors">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Enjoy being groomed</th>
              <mat-radio-group formControlName="enjoyBeingGroomed">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Enjoy being held</th>
              <mat-radio-group formControlName="enjoyBeingHeld">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Enjoy being petted</th>
              <mat-radio-group formControlName="enjoyBeingPetted">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Be calm</th>
              <mat-radio-group formControlName="beCalm">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Be active</th>
              <mat-radio-group formControlName="beActive">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Be playful</th>
              <mat-radio-group formControlName="bePlayful">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Be quiet</th>
              <mat-radio-group formControlName="beQuiet">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Be independent</th>
              <mat-radio-group formControlName="beIndependent">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Never wake me up at night</th>
              <mat-radio-group formControlName="wakeMeUpAtNight">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Never show aggressive behavior</th>
              <mat-radio-group formControlName="aggressiveBehaviour">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>

            <tr>
              <th scope="row">Be protective</th>
              <mat-radio-group formControlName="beProtective">
                <mat-radio-button value="Very important">Very Important</mat-radio-button>
                <mat-radio-button value="Somewhat important">Somewhat Important</mat-radio-button>
                <mat-radio-button value="No important">No Important</mat-radio-button>
              </mat-radio-group>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
