th{
    background-color:#cd0d2e;
    color: white;
}
tr{
    padding: .75rem;
    vertical-align: center;
    border-top: 1px solid #dee2e6;
    cursor: pointer;
    background-color:#dee2e6;
}
tr:hover{
    background-color:#c6c7ca;
}
td{
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}
.title {
    text-align: center;
    color: #cd0d2e;
  }
  
  .fa-check {
    font-size: 20px;
    color: green;
  }
  .fa-times {
    font-size: 20px;
    color: red;
  }