<div data-aos="fade-up">
  <div class="jumbotron landing-section">
    <div class="container landing-container text-right">
      <h1 class="display-1 text-white">WE ARE <span class="text-red">CARS</span></h1>
      <h2 class="text-white">A <span class="text-red">Foster-Based</span> rescue organization</h2>
      <p>As we are a foster based rescue, we do not have a central location. If you wish to meet one of our animals please fill out the adoption application form below and someone will be in touch with you to set up a meet and greet.</p>
      <button class="lg-red-btn mr-3">Donate Now</button>
    </div>

   
  </div>
</div>
