<div data-aos="fade-up">

  <!-- Landing Section -->
  <div class="jumbotron" id="landing-section">
    <div class="container landing-container text-right">
      <h1 class="display-1 text-white">WE ARE <span class="text-red">CARS</span></h1>
      <h3 class="text-white display-4">A <span class="text-red">Foster-Based</span> rescue organization</h3>
      <p class="text-white">As we are a foster based rescue, we do not have a central location. If you wish to meet one of our animals please fill out the adoption application form below and someone will be in touch with you to set up a meet and greet.</p>
      <button class="lg-red-btn mr-3">Donate Now</button>
    </div>
  </div>

  <!-- About Us -->
  <div class="jumbotron" id="about-section">
    <div class="container">
      <h2>ABOUT US</h2>
      <div class="container row">

        <div class="col-6">
          <h3 class="text-red">Who we are</h3>
          <p>Calgary Animal Rescue Society is made up of volunteers, some of us volunteer as foster parents, participate in adoption events, work at fundraisers, and are members of our Board of Directors. We all do our best to help animals in need find new fur-ever homes.</p>
        </div>
        
        <div class="col-6">
          <h3 class="text-red">What we do</h3>
          <p>Our primary goal is to find loving forever homes for cats and dogs in need, working with rescues throughout Alberta and across Canada. We have also formed partnerships with rescues in other countries to bring over dogs that may not otherwise have been able to find permanent homes.

            In addition to our rescue efforts, we occasionally will visit schools to educate, inform and answer questions to promote the importance of compassion.
          </p>
        </div>
        
      </div>
    </div>
  </div>
</div>
