p {
  font-size: 20px;
  color: white;
}

.landing-container {
  margin-top: 15vh;
  margin-right: 5rem;
  margin-left: 50vw;
  z-index: 1;
  position: absolute;
}

.landing-wrap {
  float: right;
}

.card{
  border-radius: 1.5rem;
}

.foster-card{
  border-radius: 0rem !important;
  border: 0px !important;
}

.foster-icon{
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ce0e2d;
}

.foster-text{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 1rem;
}

.foster-container:hover .foster-text {
  opacity: 1;
}

#landing-section {
  height: 70vh;
  /* background-image:  linear-gradient(121deg, rgba(255,255,255,0) 45%, rgba(0,0,0,0.3225665266106442) 74%, rgba(0,0,0,1) 100%), url("../../../../assets/images/1.jpg"); */
  background-size: cover;
  position: relative;
}

#carousel {
  background-size: cover;
  width: 100%;
  z-index: 0;
}

#about-section {
  background-color: white;
}

#volunteer-section {
  float: center;
  background-image: url("../../../../assets/images/banner.jpg");
}

#foster-home-section{
  background-color: white;
}

#events-section{
  background-color: white;
}





/* *******VIEWPORTS****** */


/* Laptop screens */
@media (min-width: 1200px) {
  #primary-title {
    font-size: 70px;
  }

  #secondary-title {
    font-size: 40px;
  }

  #landing-section {
    margin-bottom: 250px;
  }
}

/* WIDE monitors */
@media (min-width: 1600px){
    #primary-title {
        font-size: 100px;
      }
    
      #secondary-title {
        font-size: 65px;
      }
      #landing-section {
        margin-bottom: 20px;
      }
}
