<div data-aos="fade-up" class="mb-5 pb-5">
  <div class="jumbotron header-banner">
    <div class="container">
      <h1 class="strokeme">CONTACT US</h1>
    </div>
  </div>

  <div class="container text-center">
    <p class="mt-5">
      <strong>PLEASE NOTE: </strong>As we are a foster based rescue,
      <span class="text-red">WE DO NOT</span> have a central location. If you
      wish to meet one of our animals please fill out an adoption application
      form and someone will be in touch with you to set up a meet and greet.
    </p>

    <p class="mt-4">Box 57089 Sunridge RPO Calgary, AB T1Y 6R4</p>
    <hr />

    <h2>Department Contacts</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-2">
          <div
            class="card border-danger shadow"
            style="min-width: 16rem; min-height: 13rem"
          >
            <div class="card-body">
              <h3 class="text-red">Dog Coordinator</h3>
              <p>For information regarding dogs or dog adoption.</p>
              <a href="mailto:info@calgaryanimalrescue.com"
                >info@calgaryanimalrescue.com</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div
            class="card border-danger shadow"
            style="min-width: 16rem; min-height:13rem"
          >
            <div class="card-body">
              <h3 class="text-red">Cat Coordinators</h3>
              <p>For information regarding cats or cat adoption.</p>
              <a href="mailto:trish@calgaryanimalrescue.com"
                >trish@calgaryanimalrescue.com</a
              >
              <br />
              <a href="mailto:capri@calgaryanimalrescue.com"
                >capri@calgaryanimalrescue.com</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div
            class="card border-danger shadow"
            style="min-width: 16rem; min-height:13rem"
          >
            <div class="card-body">
              <h3 class="text-red">Fostering</h3>
              <p>
                For information in regards to fostering an animal or the foster
                application form.
              </p>
              <a href="mailto:foster@calgaryanimalrescue.com"
                >foster@calgaryanimalrescue.com</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-4 mb-2">
          <div
            class="card border-danger shadow"
            style="min-width: 16rem; min-height:13rem"
          >
            <div class="card-body">
              <h3 class="text-red">Volunteering</h3>
              <p>
                For information in regards to volunteering or the volunteering
                application form.
              </p>
              <a href="mailto:volunteer@calgaryanimalrescue.com"
                >volunteer@calgaryanimalrescue.com</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div
            class="card border-danger shadow"
            style="min-width: 16rem; min-height:13rem"
          >
            <div class="card-body">
              <h3 class="text-red">General</h3>
              <p>For General Inquires</p>
              <a href="mailto:info@calgaryanimalrescue.com"
                >info@calgaryanimalrescue.com</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div
            class="card border-danger shadow"
            style="min-width: 16rem; min-height:13rem"
          >
            <div class="card-body">
              <h3 class="text-red">Events</h3>
              <p>For information regarding events</p>
              <a href="mailto:events@calgaryanimalrescue.com"
                >events@calgaryanimalrescue.com</a
              >
            </div>
          </div>
        </div>
      </div>

      <hr />

      <h4 class="mt-4 text-red">Speak to one of our volunteers</h4>
      <p>
        If you would like to speak to a volunteer on the phone you can reach us
        at:
      </p>
      <h3>403-816-0759</h3>
      <p>
        <a class="text-red">Monday</a> – <a class="text-red">Friday</a> 9:00 am
        – 9:00 pm
      </p>

      <p>
        <a class="text-red">Saturday</a> and <a class="text-red">Sunday</a> 9:00
        am – 6:00 pm
      </p>

      <p>Voicemails will be returned within 72 hrs</p>
    </div>
  </div>
</div>
