<div class="sticky-top">
<nav class="navbar nav navbar-expand-lg">
    <div class="container">
    <a class="navbar-brand ml-5 pt-1">
        <img
        id="navlogo"
        src="../../../assets/cars-site-logo1.png"
        alt="Calgary Animal Rescue Society"
        />
    </a>

    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#carsNav"
    >
        <span class="navbar-toggler-icon" id="navbarToggler"></span>
    </button>

    <div class="collapse navbar-collapse" id="carsNav">
        <ul class="navbar-nav ml-auto mr-5">

        <li class="nav-item">
            <a class="nav-link" 
            routerLink="" 
            routerLinkActive="active">
            Home
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" 
            routerLink="" 
            routerLinkActive="">
            About Us
            </a>
        </li>

        <li class="dropdown nav-item">
            <a
            class="nav-link"
            data-toggle="dropdown">
            Animals for Adoption
            </a>
            <div
            class="dropdown-menu"
            style="background-color: white;"
            >
            <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >See our Animals
            </a>

            <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >Dog Adoption Form
            </a>

            <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >Cat Adoption Form
            </a>
            
            </div>
        </li>

        <li class="dropdown nav-item">
            <a
            class="nav-link"
            data-toggle="dropdown">
            Get Involved
            </a>
            <div
            class="dropdown-menu"
            style="background-color: white;"
            >
            <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >Volunteer
            </a>

            <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >Foster
            </a>

            <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >Donate Funds/Supplies
            </a>
            
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" 
            routerLink="" 
            routerLinkActive="">
            Contact Us
            </a>
        </li>

        <li class="dropdown nav-item">
            <a
            class="nav-link"
            data-toggle="dropdown">
            More
            </a>
            <div
            class="dropdown-menu"
            style="background-color: white;"
            >
            <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >FAQ
            </a>

            <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >Upcoming Events
            </a>

            <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >Our Partners
            </a>

            <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >Happy Tails
            </a>

            <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >The Rainbow Bridge
            </a>

            <a
                class="nav-link dropdown-item"
                routerLink=""
                routerLinkActive="active"
                >Goptek
            </a>
            
            </div>
        </li>


        </ul>
    </div>
    </div>
</nav>
</div>
