#navlogo{
    height: 60px;
  }

.navbar {
background-color: #cd0d2e;
color: #ecebf3;
width: 100%;
}

.nav-item a:hover {
    color: #dbc2c2;
    cursor: pointer;
}

.nav-link{
    color: #ecebf3;
}

.nav-item {
    font-weight: bold;
}

.dropdown-item.active{
    background-color: white !important;
    color: black;
}

.dropdown-item:hover{
    background-color: #cd0d2e !important;
    color: #ecebf3 !important;
}

