<div data-aos="fade-up">
  <div class="jumbotron header-banner">
    <div class="container">
      <h1 class="strokeme">DONATING FUNDS</h1>
    </div>
  </div>

  <div class="container mt-4 mb-4">
    <h2>Donate Now</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <h3 class="text-red">One Time Donation</h3>
        <p>
          We welcome donations of any amount. As the person making the donation
          you can make it a general donation or you can direct the money to be
          spent in a specific way. An example is making a monetary donation that
          is ear marked for crates.
        </p>
      </div>
      <div class="col-md-4">
        <h3 class="text-red">In Memoriam</h3>
        <p>
          Sometimes people like to make a donation in the name of a beloved pet
          who has passed away. Other times people make a donation in the name of
          a family member or friend who was an animal lover. We gratefully
          accept both forms of donation.
        </p>
      </div>
      <div class="col-md-4">
        <h3 class="text-red">Ongoing Donations</h3>
        <p>
          We are happy to receive monthly, bi-monthly, annual or semi-annual
          donations of any amount. Some people chose to make a donation on every
          family member’s birthday, or on certain holidays, we are happy to
          accept any donations that you and your family would like to make.
        </p>
      </div>
    </div>

    <h2>Ways To Donate</h2>
    <div class="row mb-4">
      <div class="col-md-4 mb-2">
        <div class="card border-danger shadow" style="width: 20rem; height: 12rem">
          <div class="card-body">
            <h4 class="card-title">Paypal</h4>
            <p class="card-text">
              If you would like to send a donation through Paypal:
            </p>
            <a
              class="btn btn-outline-danger"
              href=" http://PayPal.Me/CARSRescue"
              >Our Paypal Page</a
            >
            <br />
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2">
        <div class="card border-danger shadow" style="width: 20rem; height: 12rem">
          <div class="card-body">
            <h4 class="card-title">E-Transfer</h4>
            <p class="card-text">
              If you would like to send a donation through E-Transfer, send it
              to:
            </p>
            <p class="text-red">treasurer@calgaryanimalrescue.com</p>
            <br />
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2">
        <div class="card border-danger shadow" style="width: 20rem; height: 12rem">
          <div class="card-body">
            <h4 class="card-title">Check/Mail</h4>
            <p class="card-text">
              If you would like to send a check through mail, send it to:
            </p>
            <p class="text-red">
              P.O. Box 57089 Sunridge, RP0 Calgary, Alberta T14 6R4
            </p>
          </div>
        </div>
      </div>
    </div>
    <p>
      <strong>Please Note: </strong>When donating in cash please do not send
      cash in the mail. Cash donations are best received in person at one of our
      adoption or special events. Tax receipts are available for donations over
      $25.
    </p>

    <hr />

    <h2>Sponsorship</h2>
    <div class="container mb-5 pb-5">
      <h4 class="text-red mt-4">Sponsor an Animal</h4>
      <p>
        Sponsor the animal of your choice. $15 per month helps to offset the
        cost of food and vet care for a dog. $10 a month helps with the cost of
        food and vet care for a cat. You will be provided with pictures and
        monthly updates on your animal. Additionally your name will be honored
        on the animals profile.
      </p>
      <h4 class="text-red mt-4">Sponsor a special needs animal</h4>
      <p>
        This can be a monthly amount of your choice. You can also chose to pay
        for a special items require by the animals. This can be items like
        prescription foods, medications or veterinarian services.
      </p>
      <h4 class="text-red mt-4">Sponsor an Event</h4>
      <p>
        Individuals, families or even companies are welcome to sponsor one of
        our special events. You can either sponsor an upcoming event, or we can
        work with you to plan a new event. If you are interested in sponsor an
        event please email
        <a href="mailto:info@calgaryanimalrescue.com"
          >info@calgaryanimalrescue.com</a
        >
      </p>
    </div>
  </div>
</div>
