<div
  class="tableContainer mb-5"
  data-aos="fade-in-out"
  style="min-height: 1080px;"
>

  <ng-container *ngIf="this.isLoading">
    <div class="row justify-content-center my-5" style="height: 1080px;">
      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!this.isLoading && this.fosters.length == 0">
    <div class="row justify-content-center noItems" style="height: 1080px;">
      <p>
        We don't have anything to display at this time. Please stand by or check
        again later
      </p>
    </div>
  </ng-container>

  <div class="container">
    <h1 data-aos="fade-right" class="display-4">Fosters</h1>
    <ng-container *ngIf="!this.isLoading && this.fosters.length > 0">
      <!-- START SEARCHING BAR  -->
      <ng-container *ngIf="!this.isLoading && this.fosters.length > 0">
        <div class="input-group mb-3" data-aos="fade-in-out">
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Search..."
            type="text"
            class="form-control"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"
              ><i class="fa fa-search" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </ng-container>
      <!-- END SEARCHING BAR  -->

      <!-- START MAT TABLE -->
      <table
        mat-table
        [dataSource]="dataSource"
        class="mt-5"
        matSort
        width="100%"
        data-aos="fade-in-out"
      >
        <ng-container matColumnDef="fosterName">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.fname + " " + element.lname }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Email
          </th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="hours">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Hours
          </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 10px;">
            {{ element.hours | number }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="over18">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Over 18
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.over18; else tooYoung">
              <i
                class="fa fa-check-circle"
                aria-hidden="true"
                style="color: green; font: size 20px; margin-left: 15px;"
              ></i>
            </div>
            <ng-template #tooYoung>
              <i
                class="fa fa-times-circle"
                aria-hidden="true"
                style="color: red; font: size 20px; margin-left: 15px;"
              ></i>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef class="th" mat-sort-header>
            Status
          </th>
          <td mat-cell *matCellDef="let element">
            <div
              style="margin-left: 10px;"
              [ngStyle]="{ color: element.active ? 'green' : 'red' }"
            >
              <i class="fa fa-user" style="font-size: 20px;"></i>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          data-toggle="modal"
          (click)="viewFoster(row.id)"
          data-toggle="modal"
          data-target="#viewFosterModal"
          style="cursor: pointer;"
        ></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[20, 10, 30, 40, 50]"
        showFirstLastButtons
      ></mat-paginator>

      <!-- END MAT TABLE -->
    </ng-container>
  </div>

  <ng-container *ngIf="!this.isLoading && this.fosters.length === 0">
    <div class="row justify-content-center" style="height: 1080px;">
      <h3>No foster volunteers to display!</h3>
    </div>
  </ng-container>
  <!-- View foster info modal  -->
  <div
    class="modal fade"
    id="viewFosterModal"
    role="dialog"
    aria-labelledby="viewFosterModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <ng-container *ngIf="this.fetchLoading">
          <div class="row justify-content-center" style="height: 1080px;">
            <div class="spinner-border text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!this.fetchLoading && this.fetched">
          <div class="modal-header">
            <h2
              class="modal-title"
              id="viewFosterModalLabel"
              style="color: #fbfbff;"
            >
              Foster Information
            </h2>
            <button type="button" class="close">
              <span aria-hidden="true" data-dismiss="modal">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- this is the personal information of foster  -->
            <div class="col-12">
              <!-- Big Name -->
              <h1 class="text-center mt-1">
                {{ fetched.fname }}<span> {{ fetched.lname }}</span>
              </h1>
              <hr style="width: 1px black;" />
              <div class="row">
                <div class="col-sm-6">
                  <div class="centerElements">
                    <h3 class="mb-4">Details</h3>
                  </div>
                  <p>
                    <strong>Status: </strong>
                    <span
                      [ngStyle]="{
                        color: fetched.active ? 'green' : 'red'
                      }"
                    >
                      <i class="fa fa-user" style="font-size: 20px;"></i>
                    </span>
                  </p>
                  <p><strong>Foster ID: </strong> {{ fetched.id }}</p>
                  <p><strong>First name: </strong> {{ fetched.fname }}</p>
                  <p><strong>Last name: </strong> {{ fetched.lname }}</p>
                </div>

                <div class="col-sm-6">
                  <!-- Contact Information -->
                  <h3 class="sectionTitle mb-4">Contact Information</h3>
                  <div style="text-align: left;">
                    <p>
                      <strong>Cell phone:</strong>
                      {{ fetched.cellPhone }}
                    </p>
                    <p>
                      <strong>Home phone:</strong>
                      {{ fetched.homePhone }}
                    </p>
                    <p><strong>Email:</strong> {{ fetched.email }}</p>
                    <p>
                      <strong>Address: </strong> {{ fetched.address }},
                      {{ fetched.city }}, {{ fetched.province }}
                    </p>
                    <p>
                      <strong>Postal Code: </strong>
                      {{ fetched.postalCode }}
                    </p>
                  </div>
                </div>
              </div>
              <!-- Foster background -->
              <hr style="width: 1px black;" />
              <h5 class="sectionTitle">Foster Background</h5>
              <hr style="width: 1px black;" />
              <div class="row" style="text-align: left;">
                <div class="col-sm-6">
                  <p>
                    <strong>Residence: </strong>
                    {{ fetched.typeOfResidence }}
                  </p>
                  <p>
                    <strong>Pet Details: </strong>
                    {{ fetched.petDetails }}
                  </p>
                  <p>
                    <strong>Spayed and Neutered: </strong>
                    {{ fetched.spayedAndNeutered }}
                  </p>
                  <p><strong>Dog Habit: </strong> {{ fetched.dogHabit }}</p>
                  <p><strong>Cat Habit: </strong> {{ fetched.catHabit }}</p>
                  <p>
                    <strong>Family Agreeable: </strong>
                    {{ fetched.familyAgreeable | yesNo }}
                  </p>
                  <p>
                    <strong>Foster Animal Type: </strong>
                    <i>
                      <ng-container *ngIf="this.ftPuppy">
                        <br />- Puppy
                      </ng-container>

                      <ng-container *ngIf="this.ftAdultDog">
                        <br />- Adult Dog
                      </ng-container>

                      <ng-container *ngIf="this.ftKitten">
                        <br />- Kitten
                      </ng-container>

                      <ng-container *ngIf="this.ftAdultCat">
                        <br />- Adult Cat
                      </ng-container>

                      <ng-container *ngIf="this.ftMedicalCare">
                        <br />- Medical Care
                      </ng-container>

                      <ng-container *ngIf="this.ftQuarantine">
                        <br />- Quarantine
                      </ng-container>
                    </i>
                  </p>
                  <p>
                    <strong>Preferred Animal: </strong>
                    {{ fetched.preferredAnimal }}
                  </p>
                  <p>
                    <strong>Keep Cats Indoor: </strong>
                    {{ fetched.keepCatsIndoor | yesNo }}
                  </p>
                </div>

                <div class="col-sm-6">
                  <p>
                    <strong>Fenced Yard: </strong>
                    {{ fetched.fencedYard | yesNo }}
                  </p>
                  <p>
                    <strong>Fence Height: </strong>
                    {{ fetched.fenceHeight }}
                  </p>
                  <p>
                    <strong>Willing to train: </strong>
                    {{ fetched.willingToTrain | yesNo }}
                  </p>
                  <p>
                    <strong>Familiar with crate: </strong>
                    {{ fetched.familiarWithCrate | yesNo }}
                  </p>
                  <p>
                    <strong>Use Dog Crate: </strong>
                    {{ fetched.useDogCrate | yesNo }}
                  </p>
                  <p>
                    <strong>Past Rescue Experience: </strong>
                    {{ fetched.pastRescueExperience }}
                  </p>
                  <p>
                    <strong>Take Animal To Vet: </strong>
                    {{ fetched.takeAnimalToVet | yesNo }}
                  </p>
                  <p>
                    <strong>Has Vehicle: </strong>
                    {{ fetched.haveVehicle | yesNo }}
                  </p>
                  <p>
                    <strong>Medicate Animal: </strong>
                    {{ fetched.medicateAnimal | yesNo }}
                  </p>
                  <p>
                    <strong>Hours left Alone Animal: </strong>
                    {{ fetched.hoursLeftAlone }}
                  </p>
                </div>
              </div>

              <!-- Contact Section -->
              <div class="row contactSection">
                <!-- Ref contact 1  -->
                <div class="sm-col-4 ml-2 mr-2">
                  <hr style="width: 1px black;" />
                  <h5 class="sectionTitle">Reference Contact 1</h5>
                  <hr style="width: 1px black;" />
                  <p>
                    <strong>First name:</strong>
                    {{ fetched.ref1_fname }}
                  </p>
                  <p><strong>Last name:</strong> {{ fetched.ref1_lname }}</p>
                  <p>
                    <strong>Cell Phone:</strong>
                    {{ fetched.ref1_cellPhone }}
                  </p>
                  <p><strong>Email:</strong> {{ fetched.ref1_email }}</p>
                </div>

                <!-- Ref contact 2  -->
                <div class="sm-col-4 ml-2 mr-2">
                  <hr style="width: 1px black;" />
                  <h5 class="sectionTitle">Reference Contact 2</h5>
                  <hr style="width: 1px black;" />
                  <p>
                    <strong>First name:</strong>
                    {{ fetched.ref2_fname }}
                  </p>
                  <p><strong>Last name:</strong> {{ fetched.ref2_lname }}</p>
                  <p>
                    <strong>Cell Phone:</strong>
                    {{ fetched.ref2_cellPhone }}
                  </p>
                  <p><strong>Email:</strong> {{ fetched.ref2_email }}</p>
                </div>

                <!-- Ref contact 3  -->
                <div class="sm-col-4 ml-2 mr-2">
                  <hr style="width: 1px black;" />
                  <h5 class="sectionTitle">Reference Contact 3</h5>
                  <hr style="width: 1px black;" />
                  <p>
                    <strong>First name:</strong>
                    {{ fetched.ref3_fname }}
                  </p>
                  <p><strong>Last name:</strong> {{ fetched.ref3_lname }}</p>
                  <p>
                    <strong>Cell Phone:</strong>
                    {{ fetched.ref3_cellPhone }}
                  </p>
                  <p><strong>Email:</strong> {{ fetched.ref3_email }}</p>
                </div>
              </div>
            </div>

            <hr />

            <div class="container mb-3">
              <!-- Admin Notes -->
              <!-- (Still awaiting backend and service attribute) -->
              <h3>Admin Notes:</h3>
              <i>
                This note will only be visible to admins and won't be visible to
                volunteers
              </i>
              <section class="description mt-4">
                <p>{{ fetched.note }}</p>
              </section>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-dark delete-button"
              data-dismiss="modal"
              data-target="#confirmDelete"
              [disabled]="this.fetched.active"
              data-toggle="modal"
            >
              Delete
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              data-dismiss="modal"
              data-target="#editInfo"
              data-toggle="modal"
            >
              Edit
            </button>

            <div *ngIf="fetched.active">
              <button
                type="button"
                class="btn btn-outline-danger"
                data-dismiss="modal"
                data-target="#confirmDeactive"
                data-toggle="modal"
              >
                Deactivate
              </button>
            </div>

            <div *ngIf="!fetched.active">
              <button
                type="button"
                class="btn btn-outline-success"
                data-dismiss="modal"
                data-target="#confirmActive"
                data-toggle="modal"
              >
                Activate
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Confirm to activate a foster (popup modal) -->
  <div class="bootstrapConfirm">
    <div
      class="modal fade"
      id="confirmActive"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <ng-container *ngIf="this?.fetchLoading">
          <div class="row justify-content-center">
            <div class="spinner-border text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="this.fetched">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Confirmation
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body ml-2" style="padding: 4% 0px;">
              Are you sure you want to activate
              <span style="color: orangered;"
                >{{ fetched.fname + " " + fetched.lname }}
              </span>
              ?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-success"
                data-dismiss="modal"
                (click)="activateFoster()"
              >
                Activate
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-dismiss="modal"
              >
                Cancel
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Confirm to deactivate a foster (popup modal) -->
  <div
    class="modal fade"
    id="confirmDeactive"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <ng-container *ngIf="this?.fetchLoading">
        <div class="row justify-content-center">
          <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!this?.fetchLoading && this.fetched">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Confirmation
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ml-2" style="padding: 4% 0px;">
            Are you sure you want to deactivate
            <span style="color: orangered;"
              >{{ fetched.fname + " " + fetched.lname }}
            </span>
            ?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-danger"
              data-dismiss="modal"
              (click)="activateFoster()"
            >
              Deactivate
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- confirm delete  -->
  <div
    class="modal fade"
    id="confirmDelete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Confirm Delete
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ml-2" style="padding: 4% 0px;">
          Are you sure you want to permanently delete
          <span style="color: orangered;"
            >{{ fetched?.fname + " " + fetched?.lname }}
          </span>
          ?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-dismiss="modal"
            (click)="onDeleteFoster(fetched.id)"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- edit fosters  -->
  <div
    class="modal fade"
    id="editInfo"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
      <ng-container *ngIf="this?.fetchLoading">
        <div class="row justify-content-center">
          <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!this?.fetchLoading && this.fetched">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Edit Foster
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ml-2" style="padding: 4% 0px;">
            <form #form="ngForm" (ngSubmit)="editFoster(form, fetched.id)">
              <div class="container">
                <div class="row mt-3">
                  <div class="col-6">
                    <label for="">First name:</label>
                    <input
                      class="form-control"
                      type="text"
                      name="fname"
                      [(ngModel)]="fetched.fname"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">Last name:</label>
                    <input
                      class="form-control"
                      type="text"
                      name="lname"
                      [(ngModel)]="fetched.lname"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">Address</label>
                    <input
                      class="form-control"
                      type="text"
                      name="address"
                      [(ngModel)]="fetched.address"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">City</label>
                    <input
                      class="form-control"
                      type="text"
                      name="city"
                      [(ngModel)]="fetched.city"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">Province</label>
                    <input
                      class="form-control"
                      type="text"
                      name="province"
                      [(ngModel)]="fetched.province"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">Postal Code</label>
                    <input
                      class="form-control"
                      type="text"
                      name="postalCode"
                      [(ngModel)]="fetched.postalCode"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">Home Phone</label>
                    <input
                      class="form-control"
                      type="text"
                      name="homePhone"
                      [(ngModel)]="fetched.homePhone"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">Email</label>
                    <input
                      class="form-control"
                      type="text"
                      name="email"
                      [(ngModel)]="fetched.email"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">Type of residence</label>
                    <input
                      class="form-control"
                      type="text"
                      name="typeOfResidence"
                      [(ngModel)]="fetched.typeOfResidence"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">Pet details</label>
                    <input
                      class="form-control"
                      type="text"
                      name="petDetails"
                      [(ngModel)]="fetched.petDetails"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">Spayed And Neutered</label>
                    <input
                      class="form-control"
                      type="text"
                      name="spayedAndNeutered"
                      [(ngModel)]="fetched.spayedAndNeutered"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">Dog Habit</label>
                    <input
                      class="form-control"
                      type="text"
                      name="dogHabit"
                      [(ngModel)]="fetched.dogHabit"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">Cat Habit</label>
                    <input
                      class="form-control"
                      type="text"
                      name="catHabit"
                      [(ngModel)]="fetched.catHabit"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">Preferred animal</label>
                    <input
                      class="form-control"
                      type="text"
                      name="preferredAnimal"
                      [(ngModel)]="fetched.preferredAnimal"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">Past Rescue Experience</label>
                    <input
                      class="form-control"
                      type="number"
                      name="pastRescueExperience"
                      [(ngModel)]="fetched.pastRescueExperience"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">House left alone</label>
                    <input
                      class="form-control"
                      type="number"
                      name="hoursLeftAlone"
                      [(ngModel)]="fetched.hoursLeftAlone"
                    />
                  </div>
                </div>

                <div class="row">
                  <div
                    class="col-12"
                    style="text-align: center; margin-top: 13px;"
                  >
                    <strong>Reference 1</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">First name </label>
                    <input
                      class="form-control"
                      type="text"
                      name="ref1_fname"
                      [(ngModel)]="fetched.ref1_fname"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">Last name</label>
                    <input
                      class="form-control"
                      type="text"
                      name="ref1_lname"
                      [(ngModel)]="fetched.ref1_lname"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">Cell Phone</label>
                    <input
                      class="form-control"
                      type="text"
                      name="ref1_cellPhone"
                      [(ngModel)]="fetched.ref1_cellPhone"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">Email</label>
                    <input
                      class="form-control"
                      type="text"
                      name="ref1_email"
                      [(ngModel)]="fetched.ref1_email"
                    />
                  </div>
                </div>

                <div class="row">
                  <div
                    class="col-12"
                    style="text-align: center; margin-top: 13px;"
                  >
                    <strong>Reference 2</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">First name </label>
                    <input
                      class="form-control"
                      type="text"
                      name="ref2_fname"
                      [(ngModel)]="fetched.ref2_fname"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">Last name</label>
                    <input
                      class="form-control"
                      type="text"
                      name="ref2_lname"
                      [(ngModel)]="fetched.ref2_lname"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">Cell Phone</label>
                    <input
                      class="form-control"
                      type="text"
                      name="ref2_cellPhone"
                      [(ngModel)]="fetched.ref2_cellPhone"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">Email</label>
                    <input
                      class="form-control"
                      type="text"
                      name="ref2_email"
                      [(ngModel)]="fetched.ref2_email"
                    />
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-12"
                    style="text-align: center; margin-top: 13px;"
                  >
                    <strong>Reference 3</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">First name </label>
                    <input
                      class="form-control"
                      type="text"
                      name="ref3_fname"
                      [(ngModel)]="fetched.ref3_fname"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">Last name</label>
                    <input
                      class="form-control"
                      type="text"
                      name="ref3_lname"
                      [(ngModel)]="fetched.ref3_lname"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label for="">Cell Phone</label>
                    <input
                      class="form-control"
                      type="text"
                      name="ref3_cellPhone"
                      [(ngModel)]="fetched.ref3_cellPhone"
                    />
                  </div>
                  <div class="col-6">
                    <label for="">Email</label>
                    <input
                      class="form-control"
                      type="text"
                      name="ref3_email"
                      [(ngModel)]="fetched.ref3_email"
                    />
                  </div>
                </div>
              </div>
              <hr />

              <!-- Admin Notes -->
              <h4 class="mt-3 text-center">Admin Notes</h4>
              <div class="form-group">
                <textarea
                  class="form-control"
                  name="adminNotes"
                  id="adminNotes"
                  rows="3"
                  [(ngModel)]="fetched.note"
                ></textarea>
              </div>

              <div class="modal-footer">
                <button
                  type="submit"
                  class="btn btn-outline-success"
                  onclick="$('.modal').modal('hide')"
                >
                  Save Changes
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  data-dismiss="modal"
                >
                  Discard Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
