/* START MAT TABLE CSS */
.mat-header-cell{
  padding-right: 0px !important;
}


.tableContainer{
  overflow-x: scroll;
}
th {
  background-color: #cd0d2e;
  color: white;
}
tr {
  padding: 0.5rem;
  vertical-align: center;
  border-top: 1px solid #dee2e6;
  cursor: pointer;
}
tr:hover {
  background-color: #f5d4d9;
  color:white;
}
td {
  /* padding: 0.75rem; */
  border-top: 1px solid #dee2e6;

}
/* END MAT TABLE CSS */

/* START INPUT FOR SEARCHING  */
.input-group {
  width: 60%;
  margin: auto;
  margin-top: 15px;
}
.form-control {
  border: 0.5px solid #c5c3c3;
  padding-left: 15px;
}
/* END INPUT FOR SEARCHING */

header {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

h1, h3 {
  color: #ce0e2d;
}

h5 {
  color: #fbfbff;
}

label{
  margin-top: .5rem;
}

.avatar img {
  width: 15%;
  height: auto;
}
.avatarImg {
  width: 55px;
  height: 80px;
  padding: 10px 0px;
  border-radius: 100%;
}
.mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.avatar {
  width: 80%;
  height: 20%;
  margin-top: 18px;
}
.personalInfo {
  background-color: rgb(245, 234, 234);
}

.noteSection {
  margin: 3px 5px;
  padding: 13px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(245, 234, 234);
}

#viewVolunteer1 i {
  font-size: 21px;
  color: #657ed4;
  border-radius: 80%;
  transition: all 0.5s;
}

#viewVolunteer1:hover i {
  color: rgb(10, 15, 88);
  background-color: rgba(137, 144, 240, 0.486);
}

#editVolunteerCustom i {
  font-size: 22px;
  color: #7a5c61;
  border-radius: 20%;
  transition: all 0.5s;
}
#editVolunteerCustom:hover i {
  color: rgba(248, 2, 2, 0.966);
  background-color: rgba(248, 233, 18, 0.616);
  cursor: pointer;
}

.delete-button {
  position: absolute;
  left: 3%;
}
.sectionTitle,
.centerElements {
  text-align: left;
  color: #ce0e2d;
}

.contactSection {
  padding: 0px 16px;
}

.modal-header {
  background-color: #ce0e2d;
}

.table-danger, .table-danger>td, .table-danger>th{
  background-color: #CE0E2D;
  color: #FBFBFF;
}

.modal {
  overflow-y:auto;
}

.form-inline label{
  justify-content: left;
}

/* .table-hover tbody tr:hover{
  background-color: #DCDCE0;
} */
