<div class="container pb-5 mb-5" style="min-height: 1080px;">
  <button
    class="btn btn-info btn-sm mt-3 text-left rounded-pill"
    type="button"
    (click)="onOkClick()"
  >
    <i class="fa fa-reply" aria-hidden="true"></i> to Login Page
  </button>

  <div class="row justify-content-center">
    <img
      id="logo"
      src="../../../assets/cars-logo.png"
      alt="Calgary Animal Rescue Society"
    />
  </div>

  <div class="row justify-content-center mb-1">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <h1 class="text-center text-info mb-2">Create a New Password</h1>
      <hr />
      <!-- <h3 class="text-center text-success mt-2 mb-4">
        <b>Helpful tips to keep your account secure </b>
      </h3> -->
      <h3 class="mb-3 text-secondary text-center">
        Please make sure your new password:
      </h3>

      <h5 class="mb-2 text-justify text-secondary">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<a
          class="text-danger"
        >
          Is longer than 8 characters</a
        >
        - the more characters, the better.
      </h5>
      <h5 class="mb-2 text-justify text-secondary">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;
        <a class="text-danger">
          Does not match or significantly contain you username</a
        >, e.g. do not use 'username123'.
      </h5>
      <h5 class="mb-2 text-justify text-secondary">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<a
          class="text-danger"
        >
          Is not a member of this
        </a>
        <a
          target="blank"
          href="https://www.passwordrandom.com/most-popular-passwords"
          ><u class="text-info">list of common passwords</u></a
        >.
      </h5>
      <h5 class="mb-1 text-justify text-secondary">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<a
          class="text-danger pl-none"
        >
          Is not a member of the
        </a>
        <a target="blank" href="https://haveibeenpwned.com/Passwords"
          ><u class="text-info">Have I Been Pwned</u></a
        >
        breach database.
      </h5>
    </div>
  </div>

  <!-- form begins -->
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <hr />

      <ng-container *ngIf="this.isLoading">
        <div
          class="row justify-content-center py-5 my-5"
          style="height: 300px;"
        >
          <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-container>

      <form
        #volunteerForm="ngForm"
        (ngSubmit)="onSubmit(volunteerForm)"
        *ngIf="!this.isLoading"
      >
        <label for="newPassword">New Password:</label>
        <input
          type="password"
          id="newPassword"
          class="form-control rounded-pill"
          placeholder="Enter New Password"
          ngModel
          name="newPassword"
          required
          #newPassword="ngModel"
          minlength="7"
        />
        <span
          class="help-block text-danger"
          *ngIf="!newPassword.valid && newPassword.touched"
          >Please enter a new password</span
        >
        <br />
        <label class="mt-1" for="confirmedNewPassword"
          >Re-enter New Password:</label
        >
        <input
          type="password"
          id="confirmedNewPassword"
          class="form-control rounded-pill"
          placeholder="Re-enter New Password"
          ngModel
          name="confirmedNewPassword"
          required
          #confirmedNewPassword="ngModel"
          minlength="7"
        />
        <span
          class="help-block text-danger"
          *ngIf="!confirmedNewPassword.valid && confirmedNewPassword.touched"
          >Please re-enter the new password</span
        >

        <div
          *ngIf="message.length > 0"
          class="rounded-pill border-danger text-center alert alert-secondary bg-white mt-4"
        >
          <strong style="width: 100%; color: #ce0e2d;">{{ message }}</strong>
        </div>

        <button
          *ngIf="processed"
          class="btn btn-info mt-3 rounded-pill"
          id="submitbtn"
          type="button"
          (click)="onOkClick()"
        >
          <i class="fa fa-reply" aria-hidden="true"></i> Return to Login Page
        </button>

        <button
          *ngIf="!processed"
          id="submitbtn"
          class="btn btn-success mt-2 rounded-pill"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
  <!-- END OF FORM -->
</div>
<app-footer></app-footer>
