<h1><b>Change Password</b></h1>

<h1><b>Helpful tips to keep your account secure</b></h1>

<h3>- Is longer than 7 characters - the more characters, the better.</h3>
<h3>
  - Does not match or significantly contain you username, e.g. do not use
  'username123'.
</h3>
<h3>- Is not a member of this <a href="link">list of common passwords</a>.</h3>
<h3>
  - Is not a member of the <a href="link">Have I Been Pwned</a> breach database
</h3>

<h2><b>New Password:</b></h2>
<input type="text" />

<h2><b>Re-enter Your New Password:</b></h2>
<input type="text" />

<button>Change Password</button>
