<div class="row justify-content-center my-5">
  <div class="col-sm-6 text-justify">
    <h1><b>Change Password</b></h1>
    <hr />
    <h2 class="mt-5">
      <b
        >Helpful tips to keep your account secure. Please make sure your new
        password:</b
      >
    </h2>

    <h3>- Is longer than 7 characters - the more characters, the better.</h3>
    <h3>
      - Does not match or significantly contain you username, e.g. do not use
      'username123'.
    </h3>
    <h3>
      - Is not a member of this
      <a
        target="blank"
        href="https://www.passwordrandom.com/most-popular-passwords"
        >list of common passwords</a
      >.
    </h3>
    <h3>
      - Is not a member of the
      <a target="blank" href="https://haveibeenpwned.com/Passwords"
        >Have I Been Pwned</a
      >
      breach database
    </h3>
  </div>
  <div class="row justify-content-center">
    <form
      class="mb-5"
      #volunteerForm="ngForm"
      (ngSubmit)="onSubmit(volunteerForm)"
    >
      <div>
        <div class="row">
          <div class="col-sm-6">
            <label for="newPassword">New Password:</label>
            <input
              type="password"
              id="newPassword"
              class="form-control"
              placeholder="New Password"
              ngModel
              name="newPassword"
              required
              #newPassword="ngModel"
              minlength="7"
            />
            <span
              class="help-block text-danger"
              *ngIf="!newPassword.valid && newPassword.touched"
              >Please enter a new password</span
            >
          </div>
          <div class="col-sm-6">
            <label for="confirmedNewPassword">Re-enter New Password:</label>
            <input
              type="password"
              id="confirmedNewPassword"
              class="form-control"
              placeholder="Re-enter New Password"
              ngModel
              name="confirmedNewPassword"
              required
              #confirmedNewPassword="ngModel"
              minlength="7"
            />
            <span
              class="help-block text-danger"
              *ngIf="
                !confirmedNewPassword.valid && confirmedNewPassword.touched
              "
              >Please re-enter the new password</span
            >
          </div>
        </div>
        <button class="btn btn-primary ml-2">
          Submit
        </button>
        <!-- END OF FORM -->
      </div>
    </form>
  </div>
</div>
